[2017-04-14 11:38] championswimmer opened #1 "improve the theme"
right now it's just bootstrap 101.
we need it better branded (using CB color scheme).

[2017-05-05 10:27] championswimmer opened #3 "add a toggle to change Ace editor to dark mode"

[2017-05-05 12:28] yashovardhanagrawal commented on #1
I am quite new to open source... if this issue is open can you please explain me a bit what to do here?

[2017-05-06 20:01] championswimmer opened #5 "add support for javascript (eval in browser js runtime itself)"
The HackerBlocks API does not have NodeJS. We don't need it either. We can simply eval on browser.

[2017-05-06 20:01] #3 closed

[2017-05-08 12:48] championswimmer opened #7 "add support for custom input"
check the api page <http://codingblocks.com/judge-blocks> for details on how to send custom input

[2017-05-08 12:54] championswimmer commented on #5
done by @abhishek97

[2017-05-08 12:54] #5 closed

[2017-05-15 18:58] Akshay-parashar opened #8 "Support for uploading a file from client system"
A user should be able to upload the code he wrote from whatever IDE or texteditor he is using or is comfortable with.

[2017-05-16 11:07] championswimmer commented on #1
The entire bounty might not be applicable to all pull requests. If someone makes partial improvements to the theme, we'd accept that as well, but award less than 100 bounty points.

[2017-05-16 18:46] ashish1500616 opened #11 "No option/button to toggle the IDE to full screen."
There should be an option to toggle the IDE to fullscreen.

[2017-05-17 10:03] hereisnaman commented on #1
Improved UI. Gave a brand look. Added footer. Updated navbar. Added style.

[Pull Request](https://github.com/coding-blocks/ide/pull/12)

## Updated Navbar and Editor Style
![image](https://cloud.githubusercontent.com/assets/22571395/26148847/aac92a96-3b15-11e7-88a5-b2213c1f3565.png)

## Added Footer
![image](https://cloud.githubusercontent.com/assets/22571395/26148875/c19e2000-3b15-11e7-807b-90e6

[2017-05-17 10:30] ashish1500616 opened #13 "Page is not responsive ."
The Desktop version of the site opens up on
![screen shot 2017-05-17 at 3 59 15 pm](https://cloud.githubusercontent.com/assets/19726282/26149924/dd92f4e4-3b19-11e7-956f-723a49998753.png)
 phone

[2017-05-18 14:24] championswimmer commented on #1
nicely done

[2017-05-18 14:24] #1 closed

[2017-05-18 14:54] hereisnaman commented on #1
@championswimmer thanks. Well will love to tweak the shotlr page too, with some more ideas. #greedybountyhunter

[2017-05-21 07:24] #7 closed

[2017-05-22 14:15] darshkpatel commented on #11
@championswimmer  assign the issue to me ?

[2017-05-22 16:47] bhavyaagg commented on #13
@omerjerk what should be the changes for this issue?

[2017-05-23 03:40] ashish1500616 commented on #13
The page should be responsive so that the users does not have to zoom into the page to perform operations.

[2017-05-23 05:09] sohini-roy commented on #8
Can I work on this issue :)

[2017-05-23 06:04] omerjerk commented on #8
Hi @sohini-roy,

You can definitely work on this issue. One other person has already submitted a partial pull request for this. The bounty, however, will be given to one person only.

- Umair

[2017-05-23 07:07] hereisnaman commented on #13
Resolved: https://github.com/coding-blocks/ide/pull/17

[2017-05-23 11:19] astu9880 commented on #11
@ashish1500616 reviews?

[2017-05-23 11:20] astu9880 commented on #11
@ashish1500616 reviews on #18?

[2017-05-23 13:19] Akshay-parashar commented on #8
Added Support for file upload #19

[2017-05-23 13:20] Akshay-parashar commented on #8
Added Support for file upload #19

[2017-05-23 17:17] #13 closed

[2017-05-23 18:29] hereisnaman opened #20 "Mobile Menu Absent or Not Working"
The mobile menu is not working.

[2017-05-23 18:44] sirjan13 commented on #11
@ashish1500616  Kindly Review  #22

[2017-05-24 16:52] hereisnaman opened #27 "Feature Request: Add Download Code and Save Code Buttons"
Download code to save code from editor to a file for download with code lang matching extension.

Save code to save code in browser. And use clear button to clear cookies.

[2017-05-24 17:31] #8 closed

[2017-05-24 17:45] prateek27 opened #28 "Automatically Select Language based upon file-extension"
Add a small functionality to automatically choose the language, when a source code file is being uploaded on www.codingblocks.com/ide

[2017-05-24 18:14] abhishek97 commented on #28
@prateek27 please review #29

UI Screenshot :
![screen shot 2017-05-24 at 11 44 02 pm](https://cloud.githubusercontent.com/assets/8109774/26418717/e6833cbe-40da-11e7-907a-cfae5339d0c6.png)

[2017-05-24 18:23] hereisnaman commented on #27
@prateek27 Resolved: https://github.com/coding-blocks/ide/pull/26

[2017-05-24 18:24] hereisnaman commented on #20
@prateek27 resolved: https://github.com/coding-blocks/ide/pull/21

[2017-05-24 20:40] sirjan13 commented on #28
Just a **suggestion** :
It would be great if once we select the language the whole word "Language" is substituted by the Language selected.This is what traditional ide's like codechef and hackerrank have.

[2017-05-24 21:45] prateek27 commented on #28
Yes I like this suggestion.Send a PR, bounty 20 points

[2017-05-24 22:01] sirjan13 commented on #28
who has to do this earlier i got a mail saying make a pr,bounty 20

[2017-05-24 22:19] sirjan13 opened #32 "Bug:Any file can be uploaded"
Any file can be uploaded currently which is not desired. We need to restrict the acceptable file extensions  so that user cant upload any file having a different extension.

@omerjerk @prateek27 please review

[2017-05-25 02:17] hereisnaman commented on #28
@prateek27 already resolved with file upload restrictions and lang variable update and button html update. PR: https://github.com/coding-blocks/ide/pull/30

Also please check: https://github.com/coding-blocks/ide/pull/26

[2017-05-25 03:28] abhishek97 commented on #32
@omerjerk @prateek27 I dont think this is a good idea. The file extension
 is nothing but a windows construct. People using *nix based os hardly focus on file extension. Personally, i'll be totally mad if it says that my .txt cannot be loaded. Extensions should not get in the way here.

[2017-05-25 03:31] hereisnaman commented on #32
@abhishek97 but you cannot allow uploading of an img file and we can add exception to allow text file and set lang to default lang i.e. C.

[2017-05-25 03:33] hereisnaman commented on #20
@championswimmer please add bounty.

[2017-05-25 03:38] abhishek97 commented on #32
It doesn't matter really, going by this if user changes the ext of img file to .c then it uploads it anyways. If a users chooses an img, let him get gibberish.. the ide is running on his browser after all. Also there can be many variants of extensions for a language .h , .cxx,. .py3 ,.pypy . We cannot get them all. There is fundamentally no difference between an img file and .cpp file on OS level.

[2017-05-25 03:42] hereisnaman commented on #32
@abhishek97 Yeah your point is valid :).

@prateek27 removing file extension restriction feature from my PR: https://github.com/coding-blocks/ide/pull/30

[2017-05-25 07:38] abhishek97 commented on #28
@prateek27 Default lang is C++ now, and shows only Current selected lang in the corner.

[2017-05-25 08:12] abhishek97 opened #33 "Custom Input for JavaScript"
There is no implementation for custom Input for Javascript as of now.

[2017-05-25 18:07] SidharthBansal opened #34 "Bug:Theme and Upload not displayed in responsive design"
In the full screen mode, we see the ide like this
![image](https://cloud.githubusercontent.com/assets/20972099/26463754/007db586-41a3-11e7-85be-938faec983e8.png)

But when we shrink the window size the window doesnt show Theme and Upload options
![image](https://cloud.githubusercontent.com/assets/20972099/26463723/e8d5c3d8-41a2-11e7-86dc-00475c711a57.png)
The bootsrap is not working for these two

[2017-05-25 18:16] hereisnaman commented on #34
resolved: https://github.com/coding-blocks/ide/pull/35

[2017-05-25 20:12] SidharthBansal commented on #34
Shall I also get bounty for figuring out bug?

[2017-05-25 20:13] SidharthBansal commented on #34
Shall I also get bounty for telling a bug?

[2017-05-25 22:48] hereisnaman commented on #34
This project unlike others don't have bug/suggestion bounty as for now, but you can always talk this out with @championswimmer @prateek27.
BTW thanks a lot for reporting the bug.

[2017-05-25 22:53] hereisnaman commented on #34
@SidharthBansal you can verify that the bug is not present at http://namankumar.me/ttt/

[2017-05-26 13:35] #34 closed

[2017-05-26 17:23] prateek27 commented on #32
@sirjan13 Closing this issue.

[2017-05-26 17:23] #32 closed

[2017-05-26 18:12] abhishek97 commented on #33
Input for Javascript :  #36

[2017-05-26 19:58] championswimmer opened #42 "[bug] [css] the footer is not full width"
as seen on a full hd monitor, full width window.

<img width="1439" alt="screen shot 2017-05-27 at 1 27 16 am" src="https://cloud.githubusercontent.com/assets/1327050/26510604/b7f9bcb8-427b-11e7-9472-537492ed5468.png">

[2017-05-26 20:00] championswimmer opened #43 "[bug] [css] [alignment] left side of boxes for editor, and input box not aligned"
<img width="477" alt="screen shot 2017-05-27 at 1 28 56 am" src="https://cloud.githubusercontent.com/assets/1327050/26510656/f0d34a68-427b-11e7-9b12-ace2749bc407.png">

[2017-05-26 21:30] sirjan13 commented on #42
@championswimmer  Fixed : Please Review #44

[2017-05-27 02:59] niketmishra commented on #43
Done.

[2017-05-27 03:34] hereisnaman commented on #42
@championswimmer those bugs occurred during merge conflict and have already been resolved: https://github.com/coding-blocks/ide/pull/41

[2017-05-27 03:46] hereisnaman commented on #43
@championswimmer those bugs occurred during merge conflict and have already been resolved under the PR: https://github.com/coding-blocks/ide/pull/41 yesterday only. Please merge this one.

[2017-05-27 05:29] #42 closed

[2017-05-27 06:38] hereisnaman commented on #43
@championswimmer PR has been merged. This is resolved.

[2017-05-27 12:20] #11 closed

[2017-05-27 14:07] #43 closed

[2017-05-27 17:30] abhishek97 commented on #28
@prateek27  @championswimmer  Review https://github.com/coding-blocks/ide/pull/29 for this issue?

[2017-05-27 17:31] hereisnaman commented on #28
@abhishek97 The bug was reported by me and has been already resolved under my PR.

[2017-05-27 17:44] hereisnaman commented on #20
meged and got 50 points, tags on PR.

[2017-05-27 17:44] #20 closed

[2017-05-27 19:29] championswimmer opened #47 "When in full screen mode, also make the browser full screen"
Right now IDE takes all of window, but the window itself  does not become fullscreen

[2017-05-27 20:06] #47 closed

[2017-05-27 20:08] championswimmer opened #49 "keep the output window on the right of the editor (when on lg and larger screens)"
check repl.it website for how they arrange their view.
On md and small screens fall back to output below input.

[2017-05-27 20:09] championswimmer opened #50 "make the custom input toggle-able"
do not show custom input box by default
add a button "custom input" on the editor,
when we click that, only then make the custom input box visible.

[2017-05-27 20:29] hereisnaman commented on #50
@championswimmer done: https://github.com/coding-blocks/ide/pull/52

[2017-05-27 21:22] realslimshanky commented on #49
Hi, I've fixed this issue, please review :)

[2017-05-27 21:34] hereisnaman commented on #49
Sir i can do it, just as it is done in angrybirds game. Please tell if only output box needs to be moved ?

[2017-05-28 01:23] #49 closed

[2017-05-28 01:37] #28 closed

[2017-05-28 03:48] hereisnaman opened #55 "Margin required and Mobile icon not displaying"
Mobile icon not displaying as Themify sheet not included. Margins needed, top and bottom for the editor.

[2017-05-28 03:49] hereisnaman commented on #55
@championswimmer @prateek27 resolved: https://github.com/coding-blocks/ide/pull/54

[2017-05-28 04:02] #27 closed

[2017-05-28 09:38] prateek27 opened #56 "IDE should have more height, more separation from Footer."
When the page open only IDE should take maximum height. Footer shouldn't be visible, unless page is scrolled down.

![ide_issue](https://cloud.githubusercontent.com/assets/5269147/26527709/6b2f75de-43b7-11e7-9f1e-1d8fcbe6b251.png)

[2017-05-28 10:04] realslimshanky commented on #56
Hi, I've fixed this issue please review the code.
You can test my PR by visiting https://realslimshanky.github.io/ide/

[2017-05-28 10:09] hereisnaman commented on #56
@prateek27 already fixed https://github.com/coding-blocks/ide/pull/54
 with editor width to height ratio 16:9.

[2017-05-28 10:14] realslimshanky commented on #56
@hereisnaman but navbar needed to be moved out of screen explicitly as @prateek27 said.

[2017-05-28 10:20] hereisnaman commented on #56
@realslimshanky footer should be moved not navbar and that I have already done, check my PR: https://github.com/coding-blocks/ide/pull/54 , it have the screen shots. I have used 7% and 9% top and bottom margins.

If you just set the height to lets say 600px then it the footer will again start appearing if the screen height is much height. Dynamically setting up height according to width is I guess

[2017-05-28 10:32] realslimshanky commented on #56
@hereisnaman looks nice. sorry for the confusion I've fixed my comment.

[2017-05-28 10:33] hereisnaman commented on #56
@realslimshanky No its okay. Always nice to get suggestions. Thanks :)

[2017-05-28 10:33] realslimshanky commented on #56
Anytime :)

[2017-05-28 10:51] omerjerk commented on #56
@prateek27 Please close this if the issue has been resolved.

[2017-05-28 13:31] championswimmer opened #59 "language button should have a dropdown"
for good UX : user should get a hint that language can be dropped down and changed.

[2017-05-28 13:32] #56 closed

[2017-05-28 13:42] abhishek97 commented on #59
#60  Adds a caret after language as a visual clue for dropdown.

![screen shot 2017-05-28 at 7 11 35 pm](https://cloud.githubusercontent.com/assets/8109774/26529210/8ae23c50-43d9-11e7-88fa-2b1e5c358164.png)

[2017-05-28 13:46] hereisnaman commented on #59
@championswimmer already done sir: https://github.com/coding-blocks/ide/pull/58

Also @abhishek97 has not added caret when the language button html is updated when file is uploaded. I have included it at both places. Please merge : https://github.com/coding-blocks/ide/pull/58

[2017-05-28 13:47] abhishek97 commented on #50
@astu9880  @hereisnaman
Neither #51 nor #52 fixes this. Please take care of the case where if we write something in custom input and then toggle it off. The program should run as if there was not input provided. Currently none of the pull request fixes this.

[2017-05-28 13:51] hereisnaman commented on #50
@abhishek97 @championswimmer I resolved that now by setting input box html to null

[2017-05-28 13:53] abhishek97 commented on #59
@hereisnaman  There is a caret also when a file is uploaded. Please read the code first.

[2017-05-28 13:56] hereisnaman commented on #59
@abhishek97 okay sorry, removing my comment. Well Done. :)

[2017-05-28 13:58] hereisnaman opened #62 "Editor Height not changing in Full Screen"
@championswimmer please and bounty. And merge the PR.
![image](https://cloud.githubusercontent.com/assets/22571395/26528345/7a19ec5e-43c7-11e7-95cd-2907ad9d6984.png)

[2017-05-28 14:01] abhishek97 commented on #50
@hereisnaman  Where? , i don't see any changes in you PR.

[2017-05-28 14:05] astu9880 commented on #50
@abhishek97  Thank you! Made changes. also i think that the input provided shouldn't completely vanish when input box is toggled off so i saved it in local storage.
In case user doesn't mean to turn custom input off and hit it by chance, data shouldn't be lost

[2017-05-28 14:14] hereisnaman commented on #55
Resolved.

[2017-05-28 14:14] #55 closed

[2017-05-28 14:20] #59 closed

[2017-05-28 14:23] abhishek97 commented on #59
@championswimmer  #61  doesn't take care of care when a file is uploaded. Then the caret is removed.

[2017-05-28 14:26] hereisnaman commented on #62
@prateek27

[2017-05-29 04:04] hereisnaman commented on #62
Resolved. Closing.

[2017-05-29 04:04] #62 closed

[2017-05-31 15:33] hereisnaman opened #64 "Feature Suggestions"
@prateek27 @omerjerk @championswimmer suggesting all the features I added in this PR:https://github.com/coding-blocks/ide/pull/63 :p

[2017-06-01 16:17] championswimmer opened #65 "save the state on user's localStorage"
- [ ] save code
-  [ ] save the language option
 - [ ] save the custom input if any
 - [ ] use a onchange debounce on the editor. save every 30 sec. (like composing mail on Gmail)

[2017-06-01 16:17] championswimmer commented on #65
Bounty = 300

[2017-06-01 16:22] hereisnaman commented on #65
@championswimmer code and language already getting saved using save button. I did in PR: https://github.com/coding-blocks/ide/pull/26 (already merged). Theme and other sittings also getting saved in the PR:  https://github.com/coding-blocks/ide/pull/63 (not merged). working on to integrate input and save every 30 sec in the same PR.

[2017-06-01 16:27] abhishek97 opened #66 "Code Refactor"
The sate of current code at https://github.com/coding-blocks/ide/blob/gh-pages/scripts/main.js is really clumsy and unstructured .

Since the code is increasing in size and we look forward to add more functionality to it, that means adding sufficient complexity. Currently, there is lot of 'Glue' code for dom updates and sync.  I suggest using some javascript library instead rewriting it all JQuery

[2017-06-01 16:31] hereisnaman commented on #65
@championswimmer changes pushed to PR: https://github.com/coding-blocks/ide/pull/63

Already the code and language is getting saved as done by me in PR: https://github.com/coding-blocks/ide/pull/26

In PR: https://github.com/coding-blocks/ide/pull/63 code and all other data, including Theme, Fonts, Font Size, input, file name and much more automatically gets saved after every 30 seconds.

[2017-06-01 16:33] hereisnaman commented on #65
@championswimmer @prateek27 please also add addition bounty to https://github.com/coding-blocks/ide/pull/63 as including many more features.

[2017-06-01 18:11] hereisnaman commented on #64
Merged

[2017-06-01 18:11] #64 closed

[2017-06-02 08:41] hereisnaman commented on #65
@championswimmer @prateek27 thanks for merging my previous PR. In the new PR: https://github.com/coding-blocks/ide/pull/67 I have made some updates.

Currently the code gets automatically saved every 30 seconds. But in the new PR I have made the provisions to make it only save when changes are there.

I have made few Fixes too and added fadeIn and fadeOut text below the editor for autosave.

Pleas

[2017-06-03 08:16] championswimmer opened #68 "improve the README, detail all features and functions"

[2017-06-03 10:29] hereisnaman commented on #68
Resolved: https://github.com/coding-blocks/ide/issues/68

[2017-06-04 18:22] #68 closed

[2017-06-04 18:45] #33 closed

[2017-06-05 01:44] hereisnaman commented on #65
@championswimmer The other PR is also merged. Now to code gets saves ever 30 sec, only if changes are there.

[2017-06-06 15:05] Vatsalgarg1617 commented on #50
@championswimmer  I resolved the custom input toggle problem. Please merge: #52

[2017-06-06 19:04] astu9880 commented on #50
@championswimmer Sir please review #51 xD I need to push more commits for this repository but am allowed only one fork!

[2017-06-07 04:43] abhishek97 commented on #50
@astu9880 please use different branch in that case. you can read about branches here :
 https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging

You are not bind to one thing at a time. While this pr is waiting for approval. Fork another branch from `https://github.com/coding-blocks master` and commit to that branch. Keep the contributions coming . 😸

[2017-06-10 16:24] #65 closed

[2017-06-12 13:35] #50 closed

[2017-06-12 13:39] omerjerk opened #76 "Use to Vue.js framework for frontend"
Currently there is no frontend framework being used. We need to move it to a proper frontend framework and Vue.js seems to be the best choice.

[2017-06-13 09:10] rishabh-bansal opened #78 "Connect Facebook Login with Student's Roll Number"
Issue with linking Facebook and student's roll number.

[2017-06-13 09:10] rishabh-bansal opened #79 "'Log Out' not working properly."

[2017-06-13 09:12] rishabh-bansal opened #80 "Option to change password for the Hacker Blocks Account."

[2017-06-13 09:14] rishabh-bansal opened #81 "Problem solved at Hacker Blocks should be showed as solved."
After successful submission of answer to a problem, the status should be mentioned as solved.

[2017-06-14 07:16] astu9880 opened #82 "[bug] Ace editor supports only mono-space fonts"
Ace editor supports only monospace fonts. Having lucida console introduces bug like below (Cursor and text mis-alignment) It would be better to not use non-monospace font
![bug](https://user-images.githubusercontent.com/18186457/27119677-63da2c6c-50fe-11e7-8511-25b46d824f04.png)

[2017-06-14 07:24] hereisnaman commented on #82
resolved: https://github.com/coding-blocks/ide/pull/83

[2017-06-14 11:24] hereisnaman opened #85 "[Feature] Add auto completion, wrap text feature in the editor"
Add Auto completion for different languages. Also need to set editor modes with language changes.
resolved: https://github.com/coding-blocks/ide/pull/84/

[2017-06-14 14:18] #85 closed

[2017-06-14 14:23] abhishek97 commented on #66
Closed in favour of https://github.com/coding-blocks/ide/issues/76

[2017-06-14 14:23] #66 closed

[2017-06-18 20:11] #82 closed

[2017-06-18 20:12] championswimmer commented on #78
Already solved.
Go to account.codingblocks.com. Login with roll number. Then use "Connect Facebook"

[2017-06-18 20:13] championswimmer opened #86 "Add Google Analytics"
@hereisnaman please take care of this.

[2017-06-19 07:13] #86 closed

[2017-06-23 13:39] ArushiSinghal commented on #81
@omerjerk @rishabh-bansal I think the problem which is correctly solved on Hacker-blocks shows a green tick.

[2017-06-23 13:42] ArushiSinghal opened #88 ""Forgot Password" option should be there at Login Page"
@championswimmer Please review this issue

[2017-06-23 13:44] ArushiSinghal opened #89 "During "Sign Up" there should be Confirm Password/show Password Option"
@omerjerk @championswimmer
During "Sign Up" one should be asked for Confirming Password.

[2017-06-24 06:03] championswimmer commented on #89
There is no signup on this project anywhere. What is this about ?

[2017-06-24 10:14] championswimmer commented on #88
There is no login on this website either. What are you referring to ?

[2017-06-24 10:18] ArushiSinghal commented on #88
@championswimmer my bad, I was referring to Hacker-Block site. Will close it.

[2017-06-24 10:18] #88 closed

[2017-06-24 10:20] #89 closed

[2017-06-25 15:42] #78 closed

[2017-06-25 15:42] #79 closed

[2017-06-25 15:42] #80 closed

[2017-06-25 15:42] #81 closed

[2017-06-25 15:43] championswimmer opened #90 "in full screen layout, also allow showing output in bottom"
the output box should be toggle-able. so it is visible only if required.

[2017-06-25 17:56] hereisnaman commented on #90
@championswimmer should provide button for toggle or just automatically display it after run? and hide it with clear all.

[2017-06-28 21:38] sohini-roy commented on #90
#92
@championswimmer please have a look and review

[2017-07-11 05:47] abhishek97 opened #94 "ADD: Full screen mode"
Fullscreen mode needs to be fixed.

[2017-07-11 05:49] abhishek97 opened #95 "ADD: AutoSave not fully working"
Autosave has half-way implementation right now. Feel free to work on this.

[2017-07-13 11:05] #76 closed

[2017-07-13 11:08] hereisnaman commented on #95
@abhishek97 resolved.

[2017-07-14 13:36] #95 closed

[2017-07-17 06:09] omerjerk opened #97 "Copy contents from the old README to the new README file"
This is the old README file - https://github.com/coding-blocks/ide/blob/850c0930596adf7e985176449b77ff81716ebffb/README.md

[2017-07-20 06:41] #97 closed

[2017-07-21 06:48] omerjerk opened #99 "Show error in case the request fails while judging a solution"
**How to reproduce:**

1. Disconnect from the internet.
2. Run a submission.
3. The spinner keeps rotating. (Issue)

[2017-07-29 18:17] championswimmer opened #101 "use pastebin to save files instead of own backend"
an overhead that shouldn't  our headache
(why save random code bits for unlimited time on our expense, when there is pastebin for free)
https://www.npmjs.com/package/pastebin-js

[2017-07-30 08:28] Prajjwal commented on #101
Create a Coding Blocks account and email me the application secrets. Pretty sure this is against their Terms of Service, though.

[2017-07-31 06:01] #99 closed

[2017-07-31 06:03] omerjerk commented on #101
@championswimmer We are saving the files in our postgres db. I don't think it is that much of an overhead.

[2017-08-03 16:34] championswimmer commented on #101
@Prajjwal

Pastebin API key  = 8783a2147bcd74d8b5f3afc93644b3d4

[2017-08-04 18:23] omerjerk commented on #101
@championswimmer Close this issue if not required anymore.

[2017-08-04 18:24] omerjerk opened #102 "Add support for C#"
Our compilation engine now supports C#. The language code for C# is 'csharp'.
Adding support for this should be trivial now.

[2017-08-04 18:46] hereisnaman commented on #102
Sample Code ?

[2017-08-04 18:56] omerjerk commented on #102
Yes. sample code also needs to be added.

[2017-08-05 04:29] hereisnaman commented on #102
"hello world program in c#" just added to google search history.

[2017-08-05 06:17] omerjerk commented on #102
Cool.

[2017-08-06 20:11] #101 closed

[2017-08-06 20:12] championswimmer commented on #90
@hereisnaman can you work on this  too ?

[2017-08-07 03:07] hereisnaman commented on #90
@championswimmer sure, working on first implementing full screen then adding some features to it.

[2017-08-11 04:59] isaeef commented on #94
I m up for it

[2017-08-11 11:19] #102 closed

[2017-08-24 06:04] omerjerk commented on #94
@isaeef Did you work on it?

[2017-09-05 15:30] nishantsahoo opened #104 "Favicon missing"
The Coding Blocks Favicon is not present in all ide pages.

[2017-09-23 17:18] abhishek97 opened #106 "Use vuex-persistedstate"
Take a look into ~~https://github.com/robinvdvleuten/vuex-persistedstate~~ http://npmjs.com/vuex-persist

It can avoid a lot of redundant code to persist store state to localStorage.  We should move to this

[2017-09-23 17:19] hereisnaman commented on #106
okay

[2017-09-24 06:53] kvaluruk opened #108 "Link to API documentation in README broken"
[https://codingblocks.com/judge-blocks](https://codingblocks.com/judge-blocks) gives a 404.

[2017-09-24 08:52] championswimmer commented on #106
BROOOOOOO WTFFFFFFF
use http://npmjs.com/vuex-persist

[2017-09-24 08:54] championswimmer commented on #106
Even alligator recommends mine - https://alligator.io/vuejs/vuex-persist-state/

[2017-09-24 08:56] hereisnaman commented on #106
haha cool

[2017-09-24 12:49] abhishek97 commented on #106
Oh forgot about yours @championswimmer 😂 , the api seems similar, we can switch easily :)

[2017-10-01 06:50] abhishek97 commented on #108
Thanks, the link is fixed now.

[2017-10-01 06:50] #108 closed

[2017-10-01 06:55] abhishek97 opened #123 "Add language support for Node"
Currently, the IDE supports `javascript` in a browser context. However, the judgeblocks API support nodeJs also. Allow language Support for nodeJs.

To have judge API compile run nodeJs, `language` key should be set to `js`, more info about the API here: https://codingblocks.com/judge-blocks-docs/

[2017-10-01 06:58] abhishek97 opened #124 "UI Bug: The dropdown won't close when out of focus"
Normal HTML dropdown behavior is expected.

![screen shot 2017-10-01 at 12 26 50 pm](https://user-images.githubusercontent.com/8109774/31052505-06ae3154-a6a4-11e7-9c29-bd314948fe8b.png)

[2017-10-01 07:00] #90 closed

[2017-10-01 07:00] #94 closed

[2017-10-01 08:32] abhishek97 opened #125 "Keyboard shortcuts"
Some handy keyboard shortcuts will make a better experience.

- [ ] `Ctrl + R` to run
- [ ] `Ctrl + D` to clear editor
- [ ] A popup or somewhere to list these shortcuts

[2017-10-01 09:26] flaredragon opened #126 "Same code saved multiple times."
The Same code when saved multiple times gets saved at different URL's -
<ul>
<li>https://codingblocks.com/ide/#/s/1855</li>
<li>https://codingblocks.com/ide/#/s/1856</li>
<li>https://codingblocks.com/ide/#/s/1857</li>
</ul>

This feature Can be enhanced by Adding and Edit Request on clicking Save Option(like ideone) instead of saving the code again and again at Multiple URLs and wasting resources.

[2017-10-01 13:15] abhishek97 commented on #126
We should definitely go for this.
do you want to work on it @flaredragon ?

[2017-10-01 16:15] #124 closed

[2017-10-01 19:46] flaredragon commented on #126
Thanks but I'm not so experienced in Vue.js will take up other JavaScript issues :)

[2017-10-02 12:57] flaredragon commented on #126
@abhishek97 I was really curious enough to work on it.
Basically, I have done the job it checks from the open URL and compares the codes
If they are same it won't save it again.
Otherwise, it gets saved at a new place.
Should I make a PR or you'll like the code first?

[2017-10-02 13:41] abhishek97 commented on #126
@flaredragon I am happy to see made some efforts. Thank you. I've added some review to your pr, please make these minor changes so that we can merge it.

Also, one enhancement over your current strategy can be to compare the hash of the codes instead of the codes themselves. The entire code can be pretty large and be storing an extra copy of it, just to compare them might not be the best option. I

[2017-10-02 16:22] #104 closed

[2017-10-02 17:06] flaredragon commented on #126
Right I never thought of it in this way.Great Approach!

[2017-10-03 07:04] #126 closed

[2017-10-08 12:40] #125 closed

[2017-10-19 19:04] nb2998 opened #136 "Judge Blocks API- No link to get Access token"
There is no link available in the judge-blocks documentation to get the Access token.

[2017-10-20 07:34] Prajjwal commented on #136
We'll be deprecating this API soon. Stand by.

[2017-12-21 18:58] championswimmer opened #137 "CapitalCamelCase all components"
these are not not in CapitalCamelCase
https://github.com/coding-blocks/ide/tree/master/src/components/editor

[2017-12-21 18:59] championswimmer commented on #137
@hereisnaman please do this at the earliest

[2017-12-22 16:54] #137 closed

[2018-03-15 13:50] championswimmer opened #139 "[SEO] add metadata, description, keywords etc"

[2018-05-16 17:19] abhishek97 opened #140 "Update README.md"
Needs a new screenshot

[2018-05-17 04:51] hereisnaman commented on #106
@abhishek97 already vue-persist is getting used. Do I get the bounty to mention this or to remove the other package as dependency? :p

[2018-05-17 16:06] #106 closed

[2018-05-18 07:08] hereisnaman commented on #123
resolved in: https://github.com/coding-blocks/ide/pull/143

[2018-05-18 13:15] #123 closed

[2018-05-23 08:05] abhishek97 opened #145 "Add: Simple user session management."
- Add Login/Logout functionality.
- Simple User session management.

This is dependent upon https://github.com/coding-blocks/ide-backend/issues/2 in backend.

[2018-05-29 11:58] flaredragon opened #146 "The URL Shortner for sharing isn't working"
In the share option the Shortened URL is coming up to be undefined.
![screenshot from 2018-05-29 17-27-08](https://user-images.githubusercontent.com/29121452/40657465-9b9d7a1c-6365-11e8-9095-51c2ce1e505b.png)

[2018-05-29 20:13] ananay commented on #146
This needs to be fixed on the production server in order to fix this issue
https://github.com/coding-blocks/shortlr/issues/73

[2018-05-29 20:18] ananay commented on #146
@championswimmer The shortlr server asks for a secret in order to make shortlinks and I don't know the secret that's running on the prod server. Could you please help me with this step?

[2018-05-29 20:20] hereisnaman commented on #146
@ananay there is a backend for the ide https://github.com/coding-blocks/ide-backend . You can run it locally and do the testing.

[2018-05-30 08:13] kapillamba4 opened #147 "Add drag and drop capabilities for uploading source files"
Would love to see drag & drop file upload as a feature for this ide

[2018-05-30 14:37] abhishek97 commented on #147
Would like that too!

[2018-05-30 14:39] kapillamba4 commented on #147
Working on it!

[2018-05-30 15:17] kapillamba4 commented on #147
Please check PR  #148

[2018-06-04 20:11] #147 closed

[2018-06-06 18:57] till-tomorrow opened #149 "code doesn't change with language"
The code doesn't change with language. It happens when changes are made in the predefined code.
Example, if the existing code is modified to print to print("hi") instead of "Hello World!" and then the code is run, then changing the language doesn't change the default code that should follow when the programming language changes.

Refer the following image for more clarity.

![code doesnt change wi

[2018-06-06 19:01] abhishek97 commented on #149
It is the intedend behaviour.

![1u9jq5](https://user-images.githubusercontent.com/8109774/41059379-0bb1637e-69ea-11e8-97b8-85087194f90b.jpg)

[2018-06-06 19:01] #149 closed

[2018-06-15 20:15] championswimmer opened #150 "move from ace editor to monaco editor"
monaco: https://github.com/Microsoft/monaco-editor

Few minimum requirements
 - [ ] should allow switching between light and dark theme. (monaco has support)
 - [ ] should provide _rich intellisense_ for Javascript

[2018-06-16 20:50] kapillamba4 commented on #150
Pull Request for this issue: #151

[2018-06-17 22:06] #150 closed

[2018-06-18 21:45] championswimmer opened #153 "when changing language, change code contents"
Example, switching from **java** to **cpp**
- if user had edited code in java, then save it under java and switch to new cpp template
- assume user edits cpp code
- user switches back to java
- now save the existing cpp code first, then restore the java code that we saved in step 1
- if user switches back to cpp, save java again under java, restore the cpp code

[2018-06-19 16:13] sirjan13 opened #156 "Longer Output Lines overflow"
If the input becomes too long it overflows horizontally, there should be a horizontal scroll bar to handle it

![image](https://user-images.githubusercontent.com/22820957/41610066-dc8e0b0e-7409-11e8-8ce2-774cb7ea35e8.png)

[2018-06-20 17:30] #153 closed

[2018-06-20 17:33] championswimmer opened #157 "Ctrl-S should be overridden to save the current file instead"
Ctrl-S in browser saves the webpage (HTML).
We want to instead save the currently edited file to saved in the user's computer.

When pressed Ctrl-S, user should get a file browser dialog to save file, which would be the file he is editing. It should show appropriate filetype/extension (.c, .cpp, .java etc) depending on language.

[2018-06-23 20:33] #157 closed

[2018-07-04 06:41] till-tomorrow opened #163 "[enhancement] provide spell check"
spell check function to correct the users as they type
![spell check](https://user-images.githubusercontent.com/21954525/42260765-48d8bc6c-7f83-11e8-8a5c-3a057bb5d6dd.JPG)

[2018-07-04 06:46] till-tomorrow opened #164 "Minimap missing"
![missing minimap](https://user-images.githubusercontent.com/21954525/42260973-1cb94d30-7f84-11e8-91e6-d15c2f142445.JPG)

[2018-07-04 06:51] abhishek97 commented on #163
I'm not sure if this is a good idea. I would like suggestions based on spelling but autocorrect for code, no thank you.

[2018-07-04 21:09] championswimmer commented on #164
still working
![image](https://user-images.githubusercontent.com/1327050/42294186-b252d7d0-7ffc-11e8-9a53-5726b29e974c.png)

[2018-07-04 21:11] #156 closed

[2018-07-04 21:12] championswimmer commented on #163
nah. the idea isn't to turn it into IntelliJ or Webstorm.

[2018-07-04 21:12] #163 closed

[2018-07-11 18:49] till-tomorrow opened #166 "Add suggestion for System.out.println() in java"
Please add this suggestion in the ide.
![syso](https://user-images.githubusercontent.com/21954525/42593122-3630bb6e-8569-11e8-81f7-9c26e6baa4be.JPG)

[2018-07-12 17:52] championswimmer commented on #166
not possible, since monaco generates these, and it's not trivial to add support on it

[2018-07-12 17:52] #166 closed

[2018-07-31 06:42] witty123 opened #167 "Scrolling issue in ide"
Scrolling doesn't work in IDE. Code editor part should be scrollable.

[2018-07-31 09:30] architkshk commented on #167
works for me
@witty123
![peek 2018-07-31 14-59](https://user-images.githubusercontent.com/5001704/43451369-6689dd4a-94d2-11e8-8fa4-1e87b6cc5c89.gif)

[2018-08-02 21:17] firefinchdev commented on #167
@witty123
Done #168
Pls Review.

[2018-08-02 21:26] firefinchdev opened #169 "Unable To Build Project"
On running ```npm install``` and then ```npm run dev```, the follwing error occurs:
[code]

Expected Bounty: 500

[2018-08-03 03:46] VibhorCodecianGupta commented on #169
@firefinchdev It works perfectly fine on my machine for `npm run dev`

[2018-08-03 12:54] #167 closed

[2018-08-03 12:55] #169 closed

[2019-05-04 15:26] #145 closed

[2019-05-04 15:30] abhishek97 opened #176 "Add "Load More" functionality for saved codes"
Currently, only 20 saved codes are listed under https://ide.codingblocks.com/profile add a load more functionality to stream data from api.

[2019-05-04 15:36] abhishek97 opened #177 "Fix Navbar UI"
The nav-bar breaks when you change to python

<img width="1440" alt="Screen Shot 2019-05-04 at 9 05 49 PM" src="https://user-images.githubusercontent.com/8109774/57181379-7b184b80-6eb0-11e9-9b6c-69d9f4c23fad.png">

[2019-05-10 15:00] ManimalaMariappan commented on #177
Hi,
When I changed to python, I didn't find any breaks in the navbar.

[2019-05-10 15:02] ManimalaMariappan commented on #177
Hi,
When I changed to python, I didn't find any breaks in my screen.

[2019-05-10 15:03] milind-soni commented on #177
neither did i

[2019-05-11 08:26] championswimmer commented on #177
Depends on screen resolution.

[2019-05-11 16:53] hereisnaman commented on #177
Better have dropdown menus.

Move new, save, download, upload under 1 menu and saved codes, logout under the user name menu.

[2019-05-11 17:46] abhishek97 commented on #177
Yes, seems good

On Sat, May 11, 2019, 10:23 PM Naman Kumar <notifications@github.com> wrote:

[2019-05-14 13:08] AdityaSrivast commented on #176
@abhishek97 I would like to work on this issue. But I couldn't find the route /profile.

[2019-05-14 13:23] hemanth-hk commented on #176
@AdityaSrivast  I was actually working on it and thought that before 15th May we cannot comment here. Also @abhishek97 I saw that /profile is not working even though it's present in the main.js file

[2019-05-14 15:26] diru1100 commented on #177
Does the break persist if you zoom out your chrome screen?

[2019-05-14 18:46] silent-lad commented on #139
Shall I use vue-meta ? or the manual method?

[2019-05-15 07:26] sachin235 commented on #177
The navbar breaks for all languages on zooming. Otherwise it is fine for all.
Is the issue specific for Python??

[2019-05-15 08:05] abhishek97 commented on #177
Just to clarify, this has to do with responsiveness and not some particular language. We need a responsive Navar.

[2019-05-15 08:07] abhishek97 commented on #176
https://github.com/coding-blocks/ide/blob/master/src/main.js#L28 mounts the Profile/Index.vue component to the route
Check: https://github.com/coding-blocks/ide/blob/master/src/components/Profile/Index.vue

[2019-05-15 12:00] theParadoxicalWizard opened #181 "Update node requirements to 10 LTS"

[2019-05-15 19:34] abhishek97 commented on #139
Whatever you think is best. However, keep in mind that these tags must be accessible to crawlers who may/may not execute js

[2019-05-16 11:00] abhishek97 opened #182 "Use Judge2"
We wish to use new Judge system to run code on online ide
you can find docs for the new judge here: https://judge2.codingblocks.com/docs/

Judge Repo: https://github.com/coding-blocks/judge-compose
All the required judge components are available here: https://github.com/coding-blocks

The new judge api is hosted at https://judge2.codingblocks.com/api

Requirements:

- [ ] Must POST to judge2 api t

[2019-05-16 11:23] AdityaSrivast commented on #182
@abhishek97 claiming it

[2019-05-16 16:16] siddhant1 commented on #146
Will take this one

[2019-05-16 16:17] siddhant1 commented on #182
Will try to fix this if there is no pr already

[2019-05-16 16:18] siddhant1 commented on #177
Working!

[2019-05-16 18:53] Manit1 commented on #182
@abhishek97 How can I get an API key to test my application? or should I setup the judge locally?

[2019-05-17 07:34] abhishek97 commented on #182
@Manit1 yes for now, you must setup judge locally and use the api key in your local db.

[2019-05-17 07:41] #139 closed

[2019-05-17 07:42] abhishek97 commented on #146
This issue is no longer valid, as `cb.lk` isn't public anymore.

[2019-05-17 07:42] #146 closed

[2019-05-19 06:02] manigedit commented on #182
@abhishek97 can you please give me a hint where to find the api key? I have setup the judge and the project locally

[2019-05-22 08:04] AdityaSrivast commented on #182
@abhishek97 how to get the API to test locally after docker-compose up command?

[2019-05-22 16:35] AdityaSrivast commented on #182
@abhishek97 is judge2 api live? I am able to make only options request to the local server.

[2019-05-24 08:58] AllenAJ commented on #182
Can you guide me on how i can setup polling for submission result?

[2019-06-19 05:59] raghav4 opened #189 "Feature Request : Add a custom user's snippet which can be used instead of default coding blocks snippet."
**Feature Request**:  The user can manually submit his/her **code snippet** submit which can be loaded while writing new code, hence reducing the time to include header files again and again. The user can add his/her code snippet consisting of macros and other header files included in their primary language.

[2019-06-19 06:04] raghav4 opened #190 "Keyboard Shortcut : ctrl + s should triggers the save button instead of saving the code to the server."
While saving the code to the server, the user has to manually press the save button. Instead, it should save the code to the server, just like user can save the file in any text editor on his/her machine.

[2019-06-19 06:28] #190 closed

[2019-06-22 09:53] iamspathan opened #191 "[FEATURE REQUEST] Auto suggestion of code"
Can we add autocomplete code feature in ide.

[2019-06-26 19:58] Biswajee opened #192 "Share option doesn't display URL"
The share option doesn't display the shareable link
![Share](https://user-images.githubusercontent.com/26689027/60209781-f7a82480-9878-11e9-89ff-be95fb34d10c.png)

Console output:
`
Access to XMLHttpRequest at 'https://cb.lk/api/v1/shorten' from origin 'https://ide.codingblocks.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control

[2019-07-23 05:14] snehalbaghel commented on #182
@abhishek97 Where so I put the API key in the ide-backend?

[2019-10-06 10:37] Jain-Sanchit opened #195 "404 page not there"
On opening the ide with https://ide.codingblocks.com/{random} , it doesn't shows anything just a white blank page , i think there should be a proper 404 or some informative page to bring back to ide home page .

[2019-10-06 14:00] Shivansh2407 commented on #195
Can I help on this issue?

[2019-10-07 21:23] snakedlover commented on #195
@Jain-Sanchit @Shivansh2407 i am a newbie but would really try to solve this issue

[2019-10-08 07:41] sastava007 commented on #195
**It has been already solved**

[2019-10-08 12:54] GeniusLearner opened #200 "Not able to install npm run build"
I'm on Ubuntu 16.04.6 and trying to install this locally but getting the following error. Can you please help?

[code]

[2019-10-08 13:12] parammittal16 opened #201 "Correct grammatical mistake in readme"
There are some grammatical issues in Readme file.
I want to correct them and work on this issue as of Hackoberfest.

[2019-10-08 13:20] parammittal16 commented on #201
@abhishek97 plz review the PR. Can we add hacktoberfest labels here?

[2019-10-08 14:47] dotslash21 opened #205 "High risk vulnerabilities in npm dependencies."
# OVERVIEW
On running `$ npm audit` on the [master](https://github.com/coding-blocks/ide/tree/master) branch of the repo, 5 vulnerabilities (3 moderate, 2 high) in 13624 scanned packages have been found.

## AUDIT REPORT
[code]

[2019-10-08 15:11] dotslash21 commented on #200
You need to use Node v8.16.1 and npm v5.10.0 to build this project.

[2019-10-08 15:49] GeniusLearner commented on #200
@dotslash21 it's is not working.

[2019-10-08 16:15] avinasjha opened #209 "Coding Blocks Judge API new link is not updated"
The new Judge API link has not been updated in [https://github.com/coding-blocks/ide/blob/master/README.md](README) at line 64

[2019-10-08 16:20] dotslash21 commented on #200
@GeniusLearner when you come across an error, please include the relevant error message. As it will help the maintainer or other contributors to help you much faster.

[2019-10-09 17:42] leelatanniru opened #214 "Icons to copy and input and output are correct"
Paper clip icons are used for copy buttons of input and output. This might cause confusion to user regarding the functionality of the button whether it is link to a page or button to copy the content.

[2019-10-09 18:17] leelatanniru opened #216 "There is no link to coding blocks website from the top right coding blocks image"
When I click on the coding blocks image on the top right corner of the menu bar, it is not navigating to the coding blocks website.
![image](https://user-images.githubusercontent.com/22635016/66508590-0e544d80-eaef-11e9-913c-3e4caf9bd4ea.PNG)

[2019-10-10 03:19] leelatanniru commented on #200
Try this command to run the application locally.
npm run dev
Im able to run the application. If any issue, let me know.

[2019-10-10 10:58] abhishek97 commented on #216
Yes you can. Good ahead

On Thu, Oct 10, 2019, 1:53 PM Aashis kumar <notifications@github.com> wrote:

[2019-10-10 11:10] leelatanniru commented on #216
I have submitted a pull request for the same yesterday. @abhishek97 could you please review it.

[2019-10-11 09:49] Manvi07 commented on #177
Has this issue been resolved?

[2019-10-12 19:11] leelatanniru opened #224 "Not able to run the application localhost:8080"
Steps to reproduce
-downloaded the repo into my system.
- npm install
- npm run dev
After I ran the commandnpm run dev. It is expected that the app should be running at localhost:8080. But an empty page with the following error in dev tools console.
TypeError: "exports" is read-only.
There is no errors in visual studio code terminal.
![devtoolsError](https://user-images.githubusercontent.com/22635

[2019-10-12 19:22] leelatanniru commented on #224
Submitted a PR for the above issue.

[2019-10-13 10:50] championswimmer commented on #201
Contribution != fixing grammar.

We would like to encourage you to contribute something to the core functionality of the project. Please do not fix typos in README just for the sake of a competition. The purpose of Hacktoberfest is to increase people participating in open source projects and learn some new skills in the process.

[2019-10-13 10:50] #201 closed

[2019-10-13 18:13] imSanjaySoni commented on #195
Is it solved

[2019-10-14 13:41] sastava007 commented on #195
@imSanjaySoni  Yes, this issue has already been resolved!

[2019-10-14 14:15] imSanjaySoni commented on #195
Actually i made a pull request anyway can you verify my changes is it correct or not 😊

[2019-10-16 13:43] premanshup commented on #192
I am working on this issue. After checking the input field I found that the URL itself is not coming in the value attribute.

[2019-10-17 04:11] parshnt commented on #182
Hi, I would like to work on this

[2019-10-17 09:58] paras151 opened #245 "Components of Navbar not aligned properly(vertically)"
### The Menu bar and Logo bar in navbar are not properly aligned vertically.
The above metioned changes have been done in pull request #244 .

Here's a screenshot of the same.
![nav](https://user-images.githubusercontent.com/47773353/66998897-aa371800-f0f2-11e9-8917-2f94c22f726a.png)

[2019-12-04 06:14] snehalbaghel commented on #182
@abhishek97 can you take a look at my PRs?

[2019-12-05 20:29] axel0070 commented on #224
I've got the same issue, have you found a way to fix it ?

[2019-12-06 08:29] axel0070 opened #267 "Not able to run example code in IDE"
Node version used :  8.16.1 (Currently using 64-bit executable)
Npm version used : 5.10.0

I'm able to run on localhost:8080 the project, using :
`git clone https://github.com/coding-blocks/ide`
`npm install`
In order to fix blank screen when using `npm run dev`, I updated babel.config.js  using this https://github.com/coding-blocks/ide/pull/225/files.

Then I use `npm run dev`

I've got this outp

[2020-01-21 19:01] harrymaurya05 opened #268 "Not able to run locally using command 'npm run dev'"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'dev' ]
2 info using npm@3.5.2
3 info using node@v8.10.0
4 verbose run-script [ 'predev', 'dev', 'postdev' ]
5 info lifecycle cb-ide@1.0.0~predev: cb-ide@1.0.0
6 silly lifecycle cb-ide@1.0.0~predev: no script for predev, continuing
7 info lifecycle cb-ide@1.0.0~dev: cb-ide@1.0.0
8 verbose lifecycle cb-ide@1

[2020-03-22 20:39] AllenAJ opened #270 "Deprecated"

[2020-04-15 15:39] ShivashishY opened #271 "Project is not in development"

[2020-04-17 10:19] #271 closed

[2020-04-17 10:20] hereisnaman commented on #268
Please check line 23 of the logs.

[2020-04-17 10:20] #268 closed

[2020-05-08 10:29] #182 closed

[2020-05-09 16:46] guptdivy opened #272 "can't run ide on localhost"
"npm run dev" giving error
 "Cannot find module 'monaco-editor/esm/vs/editor/contrib/gotoSymbol/goToCommands'"

[2020-05-09 17:23] hardik0899 commented on #177
I changed to python and tried.. but screen does'nt broke sir

[2020-05-11 14:39] dhwaj1902 commented on #177
what actually you want, when someone writes python.

[2020-05-13 14:57] mnb27 opened #273 "Custom input from a file"
Currently we don't have option to give input from a file eg:- read from input.txt . An option to upload input.txt can be added. Also an option to download output.txt can be added. Many times we require to test our program against various testcases so it can be directly taken from the input.txt file instead of copying and pasting testcases again and again.

[2020-05-14 04:01] lukelima commented on #177
It still breaks
![image](https://user-images.githubusercontent.com/45904744/81890875-6370aa00-957d-11ea-850a-7b3b68a5ad49.png)

I guess the author wants something like this:
![image](https://user-images.githubusercontent.com/45904744/81891271-64eea200-957e-11ea-9477-28bc520e2c21.png)

[2020-05-15 10:06] paras151 commented on #177
I think #244 already solves it

[2020-05-15 16:59] dhwaj1902 opened #274 "Tab Size(Number of spaces for tab) in settings."

[2020-05-15 19:49] hereisnaman opened #275 "Add option to import input from file"
Add a button in the input box header to load input from text file on the system.

![Screenshot 2020-05-16 at 1 18 28 AM](https://user-images.githubusercontent.com/22571395/82090407-2b9b6b00-9713-11ea-9174-9cdd9d504b40.png)

[2020-05-15 19:51] hereisnaman opened #276 "Add option to download output"
Add button in the output header to download the result into a file.

![Screenshot 2020-05-16 at 1 20 30 AM](https://user-images.githubusercontent.com/22571395/82090596-7fa64f80-9713-11ea-986a-317319067a81.png)

[2020-05-15 19:51] hereisnaman commented on #273
Created 2 separate issues:

https://github.com/coding-blocks/ide/issues/275
https://github.com/coding-blocks/ide/issues/276

[2020-05-15 19:51] #273 closed

[2020-05-15 20:02] hereisnaman opened #277 "Add menus to title bar"
There are so many buttons in the title bar, which do not fit on small screens and also creates a lot of noise.

Lets categorize the options and create different menus for them.
[code]

[2020-05-15 20:17] gauravkhurana97 commented on #276
@hereisnaman I want to work on this issue!

[2020-05-15 20:18] dhwaj1902 commented on #277
I am currently working on this please assign this to me.

[2020-05-15 20:23] hereisnaman commented on #277
Sure

[2020-05-15 20:24] hereisnaman commented on #276
Assigned to you @gauravkhurana97

[2020-05-15 20:28] sahuaman83 commented on #277
Can i work on this issue?

[2020-05-15 20:57] hereisnaman commented on #177
closing this in favor of https://github.com/coding-blocks/ide/issues/277

[2020-05-15 20:57] #177 closed

[2020-05-15 21:15] guptapranav4299 commented on #275
is this issue open or closed?

[2020-05-15 21:16] hereisnaman commented on #275
it is open

[2020-05-15 21:16] guptapranav4299 commented on #275
@hereisnaman please assign me this issue

[2020-05-15 21:19] kgoel9899 commented on #276
Other people can't work on an issue if it has already been assigned?

[2020-05-15 22:25] hereisnaman commented on #276
You can work, the better solution will be merged.

[2020-05-15 22:53] amzamani commented on #277
Please assign this to me, i have worked on this type of problems.

[2020-05-16 03:07] mnb27 commented on #273
@hereisnaman  I should get 40 bounty points for raising the issue. I have claimed the same. Kindly accept the claim.

[2020-05-16 03:09] mnb27 commented on #273
I won't get the 40 bounty points for raising the issues ?

On Sat, May 16, 2020 at 1:21 AM Naman Kumar <notifications@github.com>
wrote:

[2020-05-16 03:35] mnb27 opened #278 "The right top coding blocks image tag has no link attached"
The image tag is just static. It should direct to https://online.codingblocks.com/.
![image](https://user-images.githubusercontent.com/52792904/82109494-011dd200-9754-11ea-924c-f5f68fb1a40f.png)
![Screenshot from 2020-05-16 09-03-30](https://user-images.githubusercontent.com/52792904/82109516-35918e00-9754-11ea-8ebb-45828572efe6.png)

[2020-05-16 03:42] rational-kunal commented on #277
I was working on #177, so I have some initial code (dropdown for file) that would help me out in this issue. I would also like to work on this issue.

[2020-05-16 04:10] hereisnaman commented on #278
Issue already exists. Closing this in favor of https://github.com/coding-blocks/ide/issues/216

[2020-05-16 04:10] #278 closed

[2020-05-16 04:25] hereisnaman commented on #277
The best solution will be merged. Anyone can work on this.

[2020-05-16 04:46] jugshaurya commented on #276
@hereisnaman, can you tell me the tech stack used/required for this issue to be resolved

[2020-05-16 05:19] RohanGoel107 commented on #275
@hereisnaman I would like to work on this issue

[2020-05-16 05:33] irohan107 commented on #275
@hereisnaman I would like to work on this issue

[2020-05-16 06:41] maze-runnar opened #280 "Fix short url not loading issue"
![Screenshot from 2020-05-16 12-10-08](https://user-images.githubusercontent.com/56407566/82112807-4cdd7500-976e-11ea-8094-676c13927299.png)

[2020-05-16 06:41] maze-runnar commented on #280
I am working on this, if this is valid

[2020-05-16 06:58] maze-runnar opened #281 ""Reset to default" button"
Add reset to default code button in IDE

[2020-05-16 06:59] maze-runnar commented on #281
I am working on this

[2020-05-16 07:12] mnb27 opened #282 "View->Layout of input,output pane"
The bottom input and output pane takes lot of space and is inconvenient when we code. We can have the input and output pane to the right side, this setup is quite convenient for coding and many programmers prefers this.
![Screenshot from 2020-05-16 09-10-06](https://user-images.githubusercontent.com/52792904/82113285-8d3ef200-9772-11ea-8c10-04ae7863b172.png)
 This layout view. One can get more spa

[2020-05-16 07:40] ankiiitraj commented on #275
Hi @hereisnaman, I have made a PR regarding this issue. Can you assign yourself as reviewer. Thanks

[2020-05-16 07:51] ankiiitraj commented on #275
Pull request: https://github.com/coding-blocks/ide/pull/283

[2020-05-16 07:58] samjain2907 opened #284 "Coding Blocks logo"
![Selection_002](https://user-images.githubusercontent.com/53353139/82114250-43a5d580-9779-11ea-8c5a-006f580cb6ce.png)

The Coding Blocks logo is non-clickable. It should redirect to the Coding Blocks website on clicking.

[2020-05-16 08:15] ankiiitraj commented on #276
Hi @hereisnaman , I have made a PR for this. Can you assign yourself as reviewer. Thanks
PR : https://github.com/coding-blocks/ide/pull/283

[2020-05-16 08:35] zoyron commented on #277
@hereisnaman is it applicable to every issue that the best solution will be merged? Or only from the person to whom the issue is assigned?

[2020-05-16 08:49] ankiiitraj opened #285 "Register ESC key to hide share model"
Steps to produce :
1. Click on share from menubar.
Now there no option to close it and return to the editor other than reloading the page.

Possible Solution:
1. Add a closing button.
2. If esc key is pressed hide the share modal

[2020-05-16 08:51] ankiiitraj commented on #285
I am working on it.
Mentors are requested to add BOSS label on this.
Thanks.

[2020-05-16 09:08] ankiiitraj commented on #285
Issue is that it has the same background color that of modal background, so it is not visible in **dev** environment but it is fine in ide.codingblocks.com
@hereisnaman please you suggest something here.

[2020-05-16 10:34] hereisnaman commented on #277
@zoyron Yes the issues are open for anyone to work at. Only in the case of conflict if the timing and quality of the solutions are same, then the claiming it first will be taken into consideration.

[2020-05-16 10:40] hereisnaman commented on #275
Please make separate PRs for each issue.

[2020-05-16 10:42] hereisnaman commented on #284
Duplicate Issue. Closing this in favor of https://github.com/coding-blocks/ide/issues/216

[2020-05-16 10:42] #284 closed

[2020-05-16 11:27] hereisnaman commented on #282
@mnb27 Good idea. We can try it out. Can you share screenshots about how it will look. We will also need a button to switch between bottom and right positions.

[2020-05-16 11:36] ankiiitraj commented on #285
Hi @hereisnaman , does add an escape key to hide the share modal qualifies for bounty. Please add that here. Thanks

[2020-05-16 12:08] mnb27 commented on #282
@hereisnaman  Yup, a switch button to toggle between the two layout views. Have a look at the screenshots.
![a](https://user-images.githubusercontent.com/52792904/82119383-a60fcd80-979b-11ea-879d-3f3b7297c4f9.png)
![Screenshot from 2020-05-16 17-34-33](https://user-images.githubusercontent.com/52792904/82119408-e7a07880-979b-11ea-8806-5b9572547ddf.png)

[2020-05-16 15:15] ankiiitraj commented on #280
Hi @hereisnaman , if this qualifies for bounty please add one. Thanks

[2020-05-16 15:16] #216 closed

[2020-05-16 17:48] dakshkhetan commented on #277
@hereisnaman Hey, I have also worked on this issue. Please review PR #291 😀

[2020-05-17 04:49] paras151 commented on #277
When i run the command 'npm run dev' , it just shows a blank page at localhost:8080.
What could be the problem , or am i missing anything?

![Screenshot from 2020-05-17 09-17-47](https://user-images.githubusercontent.com/47773353/82135873-4fe76c80-9825-11ea-803c-2bbb0f6e5507.png)

[2020-05-17 08:24] ankiiitraj commented on #285
Hi @hereisnaman Can you please add bounty to it. Thanks

[2020-05-17 10:00] dakshkhetan opened #292 "sharable-link not appearing in "share" modal popup"
Screenshot for reference:

<img width="1440" alt="issue" src="https://user-images.githubusercontent.com/43447509/82141405-32c99280-9853-11ea-8998-e7d794d53d58.png">

[2020-05-17 10:00] dakshkhetan commented on #292
@hereisnaman I would like to work on this issue. Please assign this to me. Thanks! 😀

[2020-05-17 11:43] hereisnaman commented on #292
Closing this in favor of https://github.com/coding-blocks/ide/issues/280

[2020-05-17 11:43] #292 closed

[2020-05-17 12:23] #285 closed

[2020-05-17 12:50] #276 closed

[2020-05-17 12:55] ankiiitraj opened #294 "Hovering over links for facebook, twitter and email on share model is text type cursor and not pointer type cursor."
Steps to reproduce:
1. Click on share link/button on menubar.
2. Hover on the links below the text field i.e. on facebook and others.
Suggested fix :
I see the class used here https://github.com/coding-blocks/ide/blob/7353268d2bb427ed4c557cc8f5631a9c233e3b2d/src/components/editor/Share.vue#L121
https://github.com/coding-blocks/ide/blob/7353268d2bb427ed4c557cc8f5631a9c233e3b2d/src/components/editor

[2020-05-17 13:03] ankiiitraj commented on #294
Hi  @hereisnaman Have a look here. Should I use inline css and get rid of the socialShare class?

Also if this qualifies please add ounty to this. Thanks

[2020-05-17 13:15] maze-runnar commented on #280
@hereisnaman I want to work on this, Can you plz assign it to me.

[2020-05-17 14:22] mnb27 commented on #282
@hereisnaman Please assign bounties to this issue. I want to work on this.

[2020-05-17 14:46] dakshkhetan opened #295 "Login & Logout icons not appearing"
Screenshots for reference:

<img width="1440" alt="3" src="https://user-images.githubusercontent.com/43447509/82151793-0e81ac00-987b-11ea-9096-bde566137a54.png">

<img width="1440" alt="4" src="https://user-images.githubusercontent.com/43447509/82151800-16415080-987b-11ea-8965-d8716290fa5a.png">

[2020-05-17 14:50] dakshkhetan commented on #295
@hereisnaman I have fixed this issue. Please review PR #296 😀
Also, if eligible, please assign BOSS label and bounty.
Thanks!

[2020-05-17 15:03] mnb27 opened #297 "Snippets Feature"
We can add some in-built code snippets.These snippets helps a lot to code faster and efficiently.
Also a feature to create personal snippets and save them as per need.
Have a loot at the screenshots. @hereisnaman
![Screenshot from 2020-05-17 20-28-45](https://user-images.githubusercontent.com/52792904/82152205-5275b080-987d-11ea-8553-da91a35d1772.png)
![Screenshot from 2020-05-17 20-29-04](https:/

[2020-05-17 15:04] #295 closed

[2020-05-17 16:02] #275 closed

[2020-05-17 17:28] dakshkhetan opened #298 "Add option to change 'tabSize' in settings panel"
- Add option/functionality to change tab-size (number of spaces) in the editor's setting panel.

[2020-05-17 17:29] hereisnaman commented on #297
How will these snippets get added. Is it already supported by the current editor in use? If not how can we integrate it?

Lets explore this idea. I am assigning it BOSS label.

[2020-05-17 17:31] hereisnaman commented on #298
Closing this in favor of https://github.com/coding-blocks/ide/issues/274

[2020-05-17 17:31] #298 closed

[2020-05-17 17:34] dakshkhetan commented on #274
@hereisnaman I have worked on this issue. Please review PR #299 😀
Thanks!

[2020-05-17 17:42] hereisnaman opened #300 "Have similar style for all the modals"
Right now all the 3 modals for Share, Download and Shortcuts have different styles. Lets have a common style for all of them. The layout, font and colors are also not perfect. Make the modals dark.

The PRs with best looking modals, consistent design, and accessibility will be merged.

Also the modal overlay doesn't come over input output area, that needs to be fixed.

![Screenshot 2020-05-17 at 1

[2020-05-17 17:49] mnb27 commented on #297
@hereisnaman Currently snippets feature is not there in ide.
At present ,while coding the ide suggests "previously used keywords". Likewise we can assign "keywords" to standard code snippets eg:- keywords for vector,map ,java class,if -else, switch etc..
So if we type the initials of that keyword ,suggestions will appear accordingly.

![a](https://user-images.githubusercontent.com/52792904/8215565

[2020-05-17 17:51] hereisnaman commented on #282
@mnb27
Some ideas:

- Lets have a 6:4 split.
- The input-output section should be full height when in vertical split. Below the navbar obviously.
- Have a layout toggle button like in the firefox browser with only dock to bottom and dokc to right options. In the dock to bottom layout have the button displayed in the Output header to the left of the copy icon. In the dock to right layout, have to b

[2020-05-17 18:13] #274 closed

[2020-05-17 18:15] hereisnaman opened #301 "Add Modal for Editor Settings"
Currently clicking on settings a tab appears. Create a new modal and move all the settings there.

![Screenshot 2020-05-17 at 11 45 24 PM](https://user-images.githubusercontent.com/22571395/82156390-7eeaf600-9898-11ea-9069-bccb7bcea2c1.png)

[2020-05-17 18:17] #277 closed

[2020-05-17 18:27] hereisnaman opened #302 "Fix MenuBar height for small displays"
<1200px

![Screenshot 2020-05-17 at 11 56 58 PM](https://user-images.githubusercontent.com/22571395/82156668-2b79a780-989a-11ea-9c9c-5febb4c95e6a.png)

[2020-05-17 18:37] dakshkhetan opened #303 "'save' option not appearing in nav-bar"
<img width="1440" alt="Screenshot 2020-05-17 at 11 55 46 PM" src="https://user-images.githubusercontent.com/43447509/82156836-59132080-989b-11ea-92dd-3a8456a4c837.png">

[2020-05-17 18:39] dakshkhetan commented on #303
@hereisnaman I have fixed this issue. Please review PR #304 😀
Also, if eligible, please assign BOSS label and bounty.
Thanks!

[2020-05-17 18:39] #303 closed

[2020-05-17 18:40] hereisnaman commented on #303
You can claim it.

[2020-05-17 19:02] hereisnaman opened #305 "Bind ctrl+s shortcut with Save to cloud action"
Currently the ctrl+s shortcut is attached with the download file action. Change it to call the save action rather.

Update the shortcut info accordingly.

![Screenshot 2020-05-18 at 12 32 17 AM](https://user-images.githubusercontent.com/22571395/82157437-0c314900-989f-11ea-9a5c-aa2e8f6f92d3.png)

[2020-05-17 19:05] ankiiitraj commented on #302
Hi @hereisnaman can you slightly brief on what to do. Thanks!

[2020-05-17 19:06] ankiiitraj commented on #301
Hi I am working on this.

[2020-05-17 19:11] dakshkhetan commented on #302
@hereisnaman I have worked on this issue. Please review PR #306 😀
Thanks!

[2020-05-17 19:14] #302 closed

[2020-05-17 19:34] dakshkhetan commented on #305
@hereisnaman I have worked on this issue. Please review PR #307 😀
Thanks!

[2020-05-17 20:02] hereisnaman commented on #273
Given

[2020-05-17 20:07] hereisnaman commented on #297
@mnb27 how are you planning to integrate custom snippets with the ide.

[2020-05-17 20:38] ankiiitraj commented on #305
hi @hereisnaman I have fixed this issue along with the the issue that **shortcuts were not working**. I added eventListener now it is working fine.

[2020-05-18 04:04] #305 closed

[2020-05-18 04:06] hereisnaman commented on #305
Can you open a separate issue and PR to just fix the working of shortcuts. This issue is closed.

[2020-05-18 04:08] hereisnaman commented on #305
@dakshkhetan @ankiiitraj You both can claim 100 bounty points for this.

[2020-05-18 05:07] mnb27 opened #309 "[Error 404-Not Found ]Coding Blocks Judge API"
CB Judge API Documentation is not attached.
![Screenshot from 2020-05-18 10-34-59](https://user-images.githubusercontent.com/52792904/82176103-62c87280-98f3-11ea-80c9-7c3c987630b9.png)

[2020-05-18 05:29] hereisnaman commented on #309
Where is it mentioned that the judge api is served here? Also this project contains only frontend for the ide. Closing this.

[2020-05-18 05:29] #309 closed

[2020-05-18 06:17] HashTalmiz commented on #300
I'll be taking this up!

[2020-05-18 09:02] ankiiitraj commented on #280
can approach to solve this issue, little help would be appreciated. Thanks

[2020-05-18 11:07] mnb27 commented on #282
@hereisnaman Toggle button on the Input bar.
![Screenshot from 2020-05-18 14-32-27](https://user-images.githubusercontent.com/52792904/82206171-5eb54880-9925-11ea-829b-ec94d701def9.png)
Any Suggestions ?

[2020-05-18 11:18] dakshkhetan commented on #282
@hereisnaman I have also worked on this issue. Please review PR #311.
Thanks!

[2020-05-18 13:12] hereisnaman commented on #282
@mnb27 toggle button does not tell what is its use case. Have a drop down like this one. Use the kabab menu icon as dropdown toggle.

<img width="327" alt="Screenshot 2020-05-18 at 6 40 49 PM" src="https://user-images.githubusercontent.com/22571395/82216820-23bc1080-9937-11ea-942a-82cb4fd74c7b.png">

[2020-05-18 13:17] hereisnaman commented on #282
@dakshkhetan can you make the same changes.

[2020-05-18 13:18] hereisnaman commented on #282
First one to implement the complete functionality with better code will have his PR get merged.

[2020-05-18 13:18] mnb27 commented on #282
@hereisnaman You meant just to change the icon to kabab-menu icon or something more to be added?

[2020-05-18 13:28] hereisnaman commented on #282
Change the icon, add the dropdown menu. Align the icons to the right side of the header always.

Also I see the input output section is overlaying the editor right now. Its really not a 6:4 split.

I would like to see a version with the editor width actually reduced to 60% and the io section rendered in the left 40% width adjacent to the editor.

Will compare both the layouts and then we can decid

[2020-05-18 13:32] mnb27 commented on #282
@hereisnaman Ok,got it!! I will make the required changes.

[2020-05-18 16:55] mnb27 commented on #282
@hereisnaman GIF Below!! Suggest changes if required else if will make pr.
![ide](https://user-images.githubusercontent.com/52792904/82239452-64775200-9956-11ea-8854-d469e0205a34.gif)

[2020-05-18 17:45] hereisnaman commented on #282
- auto close the dropdown menu on layout switch
- make the drodown dark

Waiting for the other layout implementation too.

[2020-05-18 17:52] mnb27 commented on #282
@hereisnaman Yes the dropdown menu automatically closes on layout switch.
I will make the dropdown dark.

[2020-05-18 18:15] hereisnaman commented on #282
forgot one thing. kebab icon has 3 vertical dots.

[2020-05-18 19:08] mnb27 commented on #282
@hereisnaman Done:) #312 PR
Changed kebab icon.
Kindly review it!

[2020-05-19 08:41] championswimmer opened #313 "add stub for lang: go"

[2020-05-19 08:41] championswimmer opened #314 "add stub for lang: C#"

[2020-05-19 08:42] championswimmer opened #315 "add stub for lang: Rust"

[2020-05-19 08:53] ankiiitraj commented on #315
Hi @championswimmer I didn't get that, if you could elaborate that would be great. Thanks

[2020-05-19 09:17] championswimmer commented on #315
Yes

[2020-05-19 09:18] #315 closed

[2020-05-19 09:47] ankiiitraj commented on #314
Stub is already there for C#. There some another problem that's why it is now showing stub. I'm figuring out

[2020-05-19 10:08] ankiiitraj commented on #314
turns out for C# name was not mentioned according to the json that recieved from https://ide-api.codingblocks.com/langs .

[2020-05-19 11:03] #314 closed

[2020-05-19 14:20] hereisnaman commented on #282
@mnb27 @dakshkhetan You both have done a great job. Few things in both the PRs are missing that shall be fixed.

I was wondering if you two can work together on this, let me know and I can explain the further changes required then.

[2020-05-19 16:41] hereisnaman commented on #282
@dakshkhetan you have not set the max width of the input output container in the vertical view to 550px. Please create a PR fixing it.

It will also require you to set the editor max-width = calc(100vh - 550px).

[2020-05-19 17:26] mnb27 commented on #282
@hereisnaman Thanks!! and I would like to work on the further required changes.

[2020-05-19 18:11] hereisnaman commented on #282
Actually I just did that myself.

[2020-05-19 18:31] mnb27 opened #319 "file-name-input (codeTitle) not in proper place"
It has moved to down (left bottom-refer screenshot)(placeholder="untitled")
![Screenshot from 2020-05-19 23-57-22](https://user-images.githubusercontent.com/52792904/82364384-d91cc000-9a2c-11ea-96cd-d1335a4396e3.png)

[2020-05-19 18:39] hereisnaman commented on #319
It has been moved there.

[2020-05-19 18:39] #319 closed

[2020-05-19 19:36] #282 closed

[2020-05-19 19:52] mnb27 opened #321 "InOutBox icons hover & focus color"
fa-icons of InOutBox doesn't glow red on hover and focus like download icon.

[2020-05-19 19:54] hereisnaman commented on #321
@mnb27 few more issues are there in the Gondor project, you can check them out.

[2020-05-19 19:56] mnb27 commented on #321
@hereisnaman Sure!! Thanks

[2020-05-19 20:01] mnb27 commented on #321
@hereisnaman Fixed this issue.  #322 PR
Check Preview:
https://deploy-preview-322--cb-ide.netlify.app/

[2020-05-19 20:04] #321 closed

[2020-05-19 20:14] hereisnaman opened #323 "Add save file modal"
Currently the filename input field is in the status bar at the bottom. On saving the file, the name is set to untitled if the value of the field is null.

On saving check if any file name exists, otherwise show a modal with the input field for the same and a save button in the modal footer.

The value of the input field should be initialized by `code.<lang_ext>`. You need to maintain a map of exte

[2020-05-19 20:17] jatinkatyal13 opened #324 "add stub and theme for lang: kotlin"
We just introduced the support of a new language in our judge. Let's support it on our IDE as well.

- [ ] Add langMode [here](https://github.com/coding-blocks/ide/blob/master/src/components/editor/MonacoEditor.vue#L9) compatible with monaco editor
- [ ] Add a sample hello world code [here](https://github.com/coding-blocks/ide/blob/master/src/assets/js/sample-source.js) and export the language
[co

[2020-05-19 21:21] ankiiitraj commented on #324
Hi @jatinkatyal13 kindly review the PR. Thanks

[2020-05-20 00:00] hereisnaman opened #326 "Add Margin to the Notification"
Add top margin to the notification box to not overlap the navbar.

<img width="321" alt="Screenshot 2020-05-20 at 5 29 47 AM" src="https://user-images.githubusercontent.com/22571395/82389957-0aac8000-9a5b-11ea-84fb-5b3daa03ac08.png">

[2020-05-20 02:08] namanrai commented on #326
I would like to work on it but can't find the code for the notification.

[2020-05-20 03:18] gurrrung opened #328 "Configurations issue: When i click Run on my local setup it only give me red notification"
The only red notification which says:
![Screenshot from 2020-05-20 08-43-39](https://user-images.githubusercontent.com/30543444/82401157-ad262c80-9a76-11ea-89a2-907b1116e260.png)

[2020-05-20 03:19] gurrrung opened #329 "Mention it in readme about the requirement for the project"
like:
Node version should be 8, (newer version give error on `npm install`, I tried 9, 12 and 13).

[2020-05-20 03:30] hereisnaman commented on #329
There is an .nvmrc file present.

[2020-05-20 03:30] #329 closed

[2020-05-20 03:30] hereisnaman commented on #328
You need to have ide-backend setup.

[2020-05-20 03:30] #328 closed

[2020-05-20 03:32] gurrrung opened #330 "404 at https://codingblocks.com/judge-blocks-docs/"
Readme is pointing to https://codingblocks.com/judge-blocks-docs/ but this gives me 404, I don't know if its only me.

[2020-05-20 03:33] gurrrung commented on #328
Thanks, that helped.

[2020-05-20 04:13] hereisnaman commented on #330
@jatinkatyal13 https://judge2.codingblocks.com/docs/ this judge is being used right?

[2020-05-20 05:19] #324 closed

[2020-05-20 05:55] #326 closed

[2020-05-20 06:00] mnb27 opened #331 "Dock to right/bottom icons"
@hereisnaman
We can add dock to right and dock to bottom icons (as in firefox) . It looks good and insightful.
Screenshot:
![dock](https://user-images.githubusercontent.com/52792904/82410202-0731ec80-9a8d-11ea-8c07-830b91bb676a.png)

Review here:
https://deploy-preview-332--cb-ide.netlify.app/

[2020-05-20 06:10] #331 closed

[2020-05-20 07:35] jatinkatyal13 commented on #330
no currently we are using judge at judge2-ide.codingblocks.com

[2020-05-20 07:45] dakshkhetan opened #333 "Overlapping of text in input/output section dropdown"
<img width="372" alt="indentation" src="https://user-images.githubusercontent.com/43447509/82419328-df965080-9a9b-11ea-995e-f2b37cb879e4.png">

[2020-05-20 07:47] dakshkhetan commented on #333
@hereisnaman If eligible, please assign BOSS label and bounty, thanks! 😀

[2020-05-20 08:55] mnb27 commented on #294
#335 PR
Preview here: https://deploy-preview-335--cb-ide.netlify.app/

If the issue qualifies ,review and merge this PR.

[2020-05-20 09:33] prathambatra commented on #323
I will give it a try.

[2020-05-20 09:50] ankiiitraj opened #336 "Remember which "language" I used last after reload"
Currently default language is set to C++ i.e. on reload C++ is selected.
It would be great if editor remembers the language I selected in past.

[2020-05-20 09:53] ankiiitraj commented on #336
Hi kindly add bounty label if it qualifies for BOSS.

[2020-05-20 10:10] dakshkhetan opened #338 "Code not color-highlighted in C# lang mode"
<img width="739" alt="issue" src="https://user-images.githubusercontent.com/43447509/82430830-8b936800-9aab-11ea-9ef5-9ec6491599c1.png">

[2020-05-20 10:11] ankiiitraj opened #340 "[Discussion] Allow users to delete saved codes from their profile"

[2020-05-20 10:11] dakshkhetan opened #341 "syntax color highlighting not working for 'rust' language"
<img width="703" alt="rust issue" src="https://user-images.githubusercontent.com/43447509/82433708-77ea0080-9aaf-11ea-92b7-545ff88a7473.png">

[2020-05-20 10:12] ankiiitraj commented on #340
I couldn't find the api documentation for this projects as

This hits the Coding Blocks Judge API, which you can find documented here

https://codingblocks.com/judge-blocks-docs/

return 404

[2020-05-20 10:12] dakshkhetan opened #343 "Syntax color highlighting not working for 'Kotlin' language"
<img width="740" alt="kotlin issue" src="https://user-images.githubusercontent.com/43447509/82431303-1bd1ad00-9aac-11ea-9516-c1143e28646c.png">

[2020-05-20 10:15] dakshkhetan commented on #338
Please assign BOSS label and bounty, thanks! 😀

[2020-05-20 10:15] dakshkhetan commented on #341
Please assign BOSS label and bounty, thanks! 😀

[2020-05-20 10:15] dakshkhetan commented on #343
Please assign BOSS label and bounty, thanks! 😀

[2020-05-20 10:17] ankiiitraj commented on #343
Hi @dakshkhetan Did you tested by making the state -> language: "kotlin" ?

[2020-05-20 10:20] dakshkhetan commented on #343
Yes. Refer PR #344, it is not working in production because Kotlin support was added in v0.16.0 onwards.

[2020-05-20 10:22] ankiiitraj commented on #343
I got the point I have tested it on v0.20 but production is on v0.16 so this isn't working on production

[2020-05-20 10:28] dakshkhetan commented on #343
I think production has v0.15.x

[2020-05-20 12:00] mnb27 opened #346 "Dropdowns menu color not consistent"
Dropdown background-color of Lang select is not consistent with Toggle,file,settings,view bg color.
Screenshots:
![1](https://user-images.githubusercontent.com/52792904/82439088-ba174000-9ab7-11ea-94a9-f95081dd1be7.png)
![2](https://user-images.githubusercontent.com/52792904/82439093-bbe10380-9ab7-11ea-8627-7f0eaf8e803a.png)

[2020-05-20 12:12] mnb27 commented on #346
Preview:
https://deploy-preview-347--cb-ide.netlify.app/
@hereisnaman

[2020-05-20 13:18] prathambatra commented on #323
@hereisnaman If filename exists only then we have to show the modal with save option.. right?

[2020-05-20 13:59] oxoMkoxo opened #349 "Add option to enable 'word wrap' for the editor"
We can add an option in editor's setting panel to enable word wrap.

[2020-05-20 14:09] rakshitgarg99 opened #350 "Untitled option is too low and not even visible"
![Screenshot (83)](https://user-images.githubusercontent.com/37021771/82456116-6ca7cc80-9ad1-11ea-9b64-7e467199d93a.png)

It will be good to add in top navigation bar

[2020-05-20 14:19] rakshitgarg99 opened #351 "Read.md need to be edited"
1. Language supported and Theme numbers are wrong.
![Screenshot (84)](https://user-images.githubusercontent.com/37021771/82457032-94e3fb00-9ad2-11ea-988d-85e4d7743deb.png)
![Screenshot (85)](https://user-images.githubusercontent.com/37021771/82457035-96152800-9ad2-11ea-86f4-063fe1c10af9.png)
![Screenshot (86)](https://user-images.githubusercontent.com/37021771/82457041-97465500-9ad2-11ea-8819-7b29

[2020-05-20 14:39] #333 closed

[2020-05-20 14:44] #338 closed

[2020-05-20 14:55] hereisnaman commented on #323
Opposite

[2020-05-20 14:57] hereisnaman commented on #300
Or you can work on both the issues.

[2020-05-20 14:58] prathambatra commented on #323
okay, it means if filename exists then the user will have 2 files with the same name, that's fine?

[2020-05-20 15:00] hereisnaman commented on #350
Its fine.

[2020-05-20 15:00] #350 closed

[2020-05-20 15:01] hereisnaman commented on #323
why would there be 2 file? Please re-read the description.

[2020-05-20 15:16] oxoMkoxo commented on #349
Like this one.

![Screenshot (43)](https://user-images.githubusercontent.com/63666894/82463626-afba6d80-9ada-11ea-9f76-3f15b2ca9044.png)

[2020-05-20 17:05] #336 closed

[2020-05-20 17:40] #294 closed

[2020-05-20 19:15] prathambatra commented on #323
@hereisnaman if i am running this project in dev. I also need to run API locally right? do also need to give some working firebase config.

[2020-05-20 19:17] prathambatra commented on #323
because i am unable to use savecode feature locally.

[2020-05-20 19:37] mnb27 commented on #351
@rakshitgarg99 Editor can go fullscreen mode. (press fn + F11)

[2020-05-20 19:51] MohdImran001 commented on #323
When running npm install I am facing this error:- `gyp ERR! stack Error: `make` failed with exit code: 2`

[2020-05-20 19:52] prathambatra commented on #323
@MohdImran001  show full terminal screenshot

[2020-05-20 20:06] MohdImran001 commented on #323
I updated the firebase version from 5 to 7 then it worked fine. But now when I am running `npm start` I am having the following error.
![Screenshot from 2020-05-21 01-33-32](https://user-images.githubusercontent.com/42844688/82492186-692d3900-9b03-11ea-9d7e-0297e8560566.png)

[2020-05-20 20:06] mnb27 opened #355 "No option to close settings"
Once opened settings cannot be closed unless we go to VIEW and click SETTINGS again. We can add a close button for this (right to Reset Defaults).
![Screenshot from 2020-05-21 01-29-23](https://user-images.githubusercontent.com/52792904/82491870-e6a47980-9b02-11ea-9e25-fabd3c1233ab.png)

[2020-05-20 20:08] prathambatra commented on #323
npm i monaco-editor --save
do this

[2020-05-20 20:12] hereisnaman commented on #355
Settings are being moved to a modal https://github.com/coding-blocks/ide/issues/323#issuecomment-631672015

[2020-05-20 20:33] #346 closed

[2020-05-21 03:04] gurrrung opened #357 "Dropdown gets hidden behind the In/Out Box"
![Screenshot from 2020-05-21 08-33-52](https://user-images.githubusercontent.com/30543444/82518846-e1b0eb80-9b3d-11ea-9f77-5e53a517b172.png)

[2020-05-21 03:41] hereisnaman commented on #357
mention the resolution.

[2020-05-21 03:49] mnb27 commented on #346
@hereisnaman Please assign it boss label and bounty. So that mentors can re-check while accepting my cliam.

[2020-05-21 03:51] gurrrung commented on #357
I just pulled the box up until it overlaps with dropdown.

[2020-05-21 04:24] mnb27 opened #359 "Java lang. appearing twice"
![Screenshot from 2020-05-21 09-40-52](https://user-images.githubusercontent.com/52792904/82522889-5e48c780-9b48-11ea-8069-3e0486f6c10e.png)

One at the top and other the highlighted one. Highlighted one has no sample code attached and no syntax coloring , we have to delete this one.

[2020-05-21 07:27] #357 closed

[2020-05-21 07:27] hereisnaman commented on #357
trying hard to find bugs haan.

[2020-05-21 09:40] gurrrung commented on #357
Yeah, it was difficult to find than to solve.

[2020-05-21 09:42] prathambatra commented on #340
@hereisnaman there is no route for deleting in ide-backend.

[2020-05-21 09:59] hereisnaman commented on #340
Create one.

[2020-05-21 10:00] prathambatra commented on #340
I will raise an issue for the same in ide-backend and also work on it.

[2020-05-21 10:01] ankiiitraj commented on #340
Hi I am having error while setting up and running the backend part. Can you guide me.

[2020-05-21 10:03] prathambatra commented on #340
I think we need to add some s3 credentials.

[2020-05-21 10:58] girishgargcool commented on #351
Is this issue still open?

[2020-05-21 11:59] Sujal123456 commented on #351
Is this issue still open?

[2020-05-21 12:09] ankiiitraj commented on #340
Were you successful in running it on you sysytem?

[2020-05-21 13:34] shivam7374 opened #361 "Footer of CB IDE is breaking"
The code is coming below the Input and Output box also when the advertisement is present on the top of the IDE.
When the advertisement is closed then "Untitled" is displayed below the footer.
The screenshot for the same are attached.
![Screenshot 1](https://user-images.githubusercontent.com/55014891/82564075-c70a6100-9b95-11ea-8585-59712b4cd262.png)
![Screenshot 2](https://user-images.githubuserco

[2020-05-21 16:23] coderrsid commented on #176
Is this resolved? Can i work on this?

[2020-05-21 16:24] #355 closed

[2020-05-21 18:15] ankiiitraj commented on #361
Title has been shifted back to below menu bar in this pull https://github.com/coding-blocks/ide/pull/356
Hi @hereisnaman Just a quick question, Should we fix the I/O boxes to the side as reducing the size of editor might result in low space availability.
Like I prefer larger height editor rather than wider editor.
Let me know what you thhink

[2020-05-22 08:28] hereisnaman commented on #361
Did you not check our latest feature here: https://github.com/coding-blocks/ide/issues/282

[2020-05-22 08:32] ankiiitraj commented on #361
I have check that and on basis of that I was saying to not show I/O in the bottom. What's your view?

[2020-05-22 08:38] hereisnaman commented on #361
No its okay to have that option. Plus that doesn't fix the current issue.

[2020-05-22 08:40] ankiiitraj commented on #361
Should we reduce the size of editor. This would solve the issue, I guess

[2020-05-22 09:11] #351 closed

[2020-05-22 09:15] hereisnaman commented on #340
Have minio setup and test with that.

[2020-05-22 09:18] hereisnaman commented on #361
I'll review the final PR with solution and demo.

[2020-05-22 10:31] samagragupta commented on #272
@abhishek97 Please have a look at it.
This problem occurs with me too.

[2020-05-22 10:49] samagragupta opened #365 "Error after npm run dev"
After running npm install successfully when we run `npm run dev` it gives an error:

"Cannot find module 'monaco-editor/esm/vs/editor/contrib/gotoSymbol/goToCommands'"

I am working  on this.

[2020-05-22 10:49] samagragupta commented on #365
@abhishek97 Please assign bounty to this.

[2020-05-22 11:10] #323 closed

[2020-05-22 11:17] ankiiitraj commented on #365
This is explained here https://github.com/microsoft/monaco-editor-webpack-plugin/issues/92

[2020-05-22 11:22] samagragupta commented on #365
@ankiiitraj After that we get another error.

[2020-05-22 11:24] ankiiitraj commented on #365
Ok, What I did was install v0.19.0 and there were no error.

[2020-05-22 11:32] samagragupta commented on #365
@ankiiitraj This is why I created this issue.

[2020-05-22 15:12] mnb27 commented on #349
@hereisnaman Kindly assign bounties to this issue if it qualifies. I am working on it. Once the editor settings modal gets updated, I will make a pr.

[2020-05-22 15:18] hereisnaman commented on #349
Bounty added.

[2020-05-22 15:21] mnb27 commented on #349
@hereisnaman
Should I add wordWrap now in current settings modal or should wait for the settings modal to be upadted.

[2020-05-22 15:22] hereisnaman commented on #349
You should wait for the settings modal PR. It is almost done.

[2020-05-22 15:22] mnb27 commented on #349
Ok ..Thanks

[2020-05-23 04:09] #365 closed

[2020-05-23 04:16] samagragupta commented on #365
@hereisnaman Could you please assign bounty to this.

[2020-05-24 12:00] prathambatra commented on #340
@hereisnaman please confirm this issue https://github.com/coding-blocks/ide-backend/issues/18
 then I will work on e2e working

[2020-05-24 20:06] mnb27 commented on #300
@hereisnaman
Screenshot:
![share](https://user-images.githubusercontent.com/52792904/82763815-f0422000-9e27-11ea-9f2c-3e8c6b64e468.png)
Suggest if any changes required ? then I will update the PR

[2020-05-24 20:16] hereisnaman commented on #300
Looks good.

[2020-05-26 17:59] mnb27 commented on #349
@hereisnaman
What's the status of settings modal ? Any update

[2020-05-26 18:27] mnb27 opened #370 "Command palette shortcut"
Command palette shortcut is not mentioned in shortcuts modal.

Command Palette: (press F1)
![Screenshot from 2020-05-26 23-55-27](https://user-images.githubusercontent.com/52792904/82936571-6a9bad00-9fac-11ea-99d7-a513e80a1ebf.png)

[2020-05-27 01:54] hereisnaman commented on #349
Can you work on it?

[2020-05-27 01:56] hereisnaman commented on #370
Lets remap this to something else. Give me some possible key binding suggestions.

[2020-05-27 04:20] mnb27 commented on #370
Ctrl + P or Ctrl + Shift + R ?
Mostly all offline ide's have Ctrl + Shift + P but this will open print page dialog on our CB IDE.

[2020-05-27 04:26] mnb27 commented on #349
Sure!! I will start the work today.

[2020-05-27 05:36] hereisnaman commented on #349
You may create a a single PR for both the issues.

[2020-05-27 05:47] hereisnaman commented on #370
How does ctrl + space works on windows? Also explore other + space bindings.

[2020-05-27 05:48] hereisnaman commented on #370
Otherwise lets do ctrl + p on macs and alt +p on windows.

[2020-05-27 06:51] mnb27 commented on #349
@hereisnaman
Have a look!!
![1](https://user-images.githubusercontent.com/52792904/82986973-6efbb080-a014-11ea-9c82-404ca9a0c2ca.png)
![Screenshot from 2020-05-27 12-19-33](https://user-images.githubusercontent.com/52792904/82986980-70c57400-a014-11ea-8703-5ac30b5f754d.png)
Suggest if changes required. I will make a single PR for both issues.

[2020-05-27 06:58] hereisnaman commented on #349
Labels need not be red. Also make the reset button background dark.

[2020-05-27 07:16] hereisnaman commented on #349
Also no need for a new orange color. Play between dark and lighter dark.

[2020-05-27 09:28] mnb27 commented on #349
- Rest button bg changed
- Labels color updated
Screenshot: Please Review @hereisnaman
![Screenshot from 2020-05-27 14-55-40](https://user-images.githubusercontent.com/52792904/83002143-50a0af80-a02a-11ea-8889-107208b8c8c5.png)

[2020-05-27 09:53] hereisnaman commented on #349
The select boxes were dark earlier, can't we have that?

Lets have this layout:

Column 1:
Size
Tabs
Font

Column 2:
Word Wrap
Theme

[2020-05-27 09:59] mnb27 commented on #349
Ok!!
I'll make the req changes.

[2020-05-27 10:40] hereisnaman commented on #349
It is better to create a WIP pr and discuss such things there.

[2020-05-27 12:25] mnb27 commented on #370
Ok

[2020-05-28 10:37] mnb27 opened #373 "Judge API link"
Coding Blocks Judge API link is not updated in readme.md
![api](https://user-images.githubusercontent.com/52792904/83130965-c07f6a80-a0fc-11ea-952a-7ee1271635cd.png)

Update to :- https://judge2.codingblocks.com/docs/

[2020-06-12 08:54] sanjeetboora opened #376 "Editor screen scroll"
The I/O window is overlapping the editor's window which is resulting in the editor window's scroll with respect to the whole screen and the code seen below I/O screen.

![IdeIssue](https://user-images.githubusercontent.com/29747471/84482113-c9ec0380-acb4-11ea-9ebb-f4a45b0cf258.png)

So, I have fixed this issue by providing the optimal space to the editor window instead of the whole screen.

[Link

[2020-06-12 20:22] imrahul361 commented on #361
Is anyone working on it?

[2020-06-14 04:03] MOHD-TABREZ commented on #361
try to make advertisements as popups so that we can use the above advertisement space

[2020-06-14 10:43] imrahul361 commented on #361
@hereisnaman  Hey is anyone working on it? can i take this issue?

[2020-06-14 15:11] hereisnaman commented on #361
@imrahul361 yes a fix is in progress.

[2020-06-14 18:18] imrahul361 commented on #361
ok

[2020-06-15 11:30] hereisnaman commented on #376
In the video, I see when the IO container is in docked to the bottom, The status bar it above it and not at the bottom of the screen. That is not the intended behavior.

[2020-06-16 06:15] sanjeetboora commented on #376
Thanks for reviewing the same, I have fixed it.
Here is the updated [link](https://drive.google.com/file/d/1JymYCLkFuNepq1VK3Yf_iHA1sq2CVTWm/view?usp=sharing).

 Here is the [link](https://github.com/coding-blocks/ide/pull/378) to my PR for this fix.

[2020-06-17 07:53] #313 closed

[2020-06-17 07:59] dakshkhetan commented on #341
@jatinkatyal13

[2020-06-17 08:56] #343 closed

[2020-06-18 09:07] hereisnaman commented on #376
The status bar is not of the same height as it is right now, please fix it.

[2020-06-18 09:09] #341 closed

[2020-06-19 11:25] sanjeetboora commented on #376
Hi @hereisnaman

Thanks for mentioning this. I have fixed it.

Please have a look at [this](https://github.com/coding-blocks/ide/pull/378/) once.

[2020-06-19 12:07] sutharp777 opened #379 "Issue with Shere Code option :Copy! Button not working and URL not visible."
### 1. Copy button not working.
### 2. URL not showing in text field.

![image](https://i.ibb.co/mzNDNJK/cbimg.png)

[2020-06-19 16:38] hereisnaman commented on #379
Duplicate issue exists.

[2020-06-19 16:38] #379 closed

[2020-06-19 17:08] sutharp777 opened #380 "Feature Request : Code Beautifier in Just One Click"
### it will great if code beautify option that make our code more readable and organized in just one Click.

#### it save lot's of time, if we do it manualy. it works according to  :smile:  **Coding Standards** of respective languages.

[2020-06-19 17:25] sutharp777 opened #381 "Feature Request : JSON extension"
### JSON is one of the most  used file.
### it will great if we have this as extension support in our codingblocks ide.

[2020-06-19 18:04] sutharp777 opened #382 "Feature Request : Command Line Arguments support"
#### most of the programming languages are support command-line arguments like C, C++, Java, Python, and many more.

for e.g. in java
[code]
so the feature need a text field that take input all argument other than our Code File Name.

[2020-06-20 14:38] sutharp777 commented on #270
hi @AllenAJ
can you please elaborate a bit.

[2020-06-20 19:21] sutharp777 opened #383 "Hide Setting Bar On Clicking Inside IDE"
#### Description of  Bug :bug:
 the setting bar should hide after done it's job.

**To Reproduce**
1. Go to view ->setting
2. After changing settings click on view or anywhere other than view->settings it will not disappear.

**Expected behavior**
   1. It should disappear when we click on  **on anywhere inside ide or on view option**
        instead of **view -> settings**.
   2. **it makes sense

[2020-06-20 20:11] sutharp777 opened #384 "Feature Request : Fork Option that clone our code in new tab."
### Feature Description :octocat:
On forking clone the existing code to a new tab with unsaved same code, that gives a feature of extending production lines in a different direction at the same time.

 ### Benefits of Feature :bulb:
 - Opening a new ide tab and copy past of code from one to another one is headache, it does all in just one click.
 - Fork is one of the Standard Features of Multipurp

[2020-06-22 08:59] sutharp777 opened #385 "Feature Request : Sort Saved Code According to there file title."
# Feature: :rocket:
   - On click on a Title, Sort Saved Code File According to there file title in ascending order.
   - and Again Click on Title it should Sort Descending Order, and so on.
   - and the Same with the "Language" Column.
   - it will be great if Sorting is Stable Sort that makes sense with sorting with one parameter and then with other parameter.

# Current Feature: :book:
   - by

[2020-06-22 10:46] hereisnaman commented on #383
The migration of settings bar to a modal is in progress

[2020-06-22 10:46] #383 closed

[2020-06-22 19:14] sutharp777 opened #386 "Feature Request : Allow Users to Rename existing codes file's in Saved Code."
## Feature Request : :octocat:
 - Rename existing code file's title.

## Benifits of feature
 - latter on if user want to change it's name, than no need to create new file and delete existing one.
 - save time and effort.

[2020-06-22 20:05] sutharp777 opened #387 "Feature Request : Instant Bug Report or Feature Request option."
## Feature Request :
 - Instant Bug Report:beetle: or Feature Request :rocket: Option.
 - This feature is only for users that logged In.
 - Option placement (suggestion) :
     * This option Fit better in between saved codes and log out option.
     * <img src = "https://i.ibb.co/BcsMwQs/bug-Report.png" height="200" >

## Benefits of the feature :robot:
 - As many as people want they can report Bu

[2020-06-22 20:51] sutharp777 opened #388 "Bug-Report : Saved Code Title is unexpacted when we Open It."
# Bug Report : :bug:
 - on click on saved code, it should open same code file with same name but, it shows same file with the same id but default name which is "**code**".

# Steps to Reproduce the Bug : :beetle:
  1. go to saved code.
  2. Click any file who's name is not default, like code.cpp, etc.
  3. In the new tab what we get file with the same id and same code but with the default title/na

[2020-06-22 23:05] Ishaan29 commented on #385
@sutharp777  can I work on this ???

[2020-06-23 12:24] sutharp777 commented on #385
@Ishaan29 I'm working on this.

[2020-06-23 12:31] sutharp777 commented on #384
@hereisnaman  bhaiya, I am working on this Feature, I will send a pull request soon.

[2020-06-23 16:16] sutharp777 commented on #384
Done by mistake

[2020-06-24 05:10] sutharp777 opened #389 "Bug Report : Find and Replace both are not visible at same time."
# Bug Description : :beetle:
  - height of the 'find and replace' tab is not fit.
  - the text field height is too much.
  - both the text field **'find'** and **'replace'** are **not visible at the same time**.

# Steps to Reproduce the Bug: :memo:
  1. Click inside IDE and press **'CTRL+H'**.
  2. Click in the find text field and so on.

![find and replace](https://i.ibb.co/d7cpgYb/findnreplace.

[2020-06-25 16:54] sutharp777 opened #390 "Feature Request : Ruler in IDE"
# Feature: Ruler
  - Thin **Vertical Line**, that helps in organize our code.
  - Dropdown menu **'Ruler'** in **View** that has several units.
    * ![](https://i.ibb.co/M64z2Sh/likethis.png)
    * **None** for no line.
    * where units are distance from left.
  ##### this screenshot from sublime text.

![](https://i.ibb.co/XXxjFRp/sublime.png)

[2020-06-26 10:09] sutharp777 opened #391 "Add Hover in Run Button."
#### On Hover on **'Run'** button, the color should be slightly lighter than as usual.

[2020-06-27 17:10] sutharp777 commented on #389
@hereisnaman  bhaiya, please review my issues.

[2020-06-27 17:32] sutharp777 commented on #390
@hereisnaman bhaiya, please review this issue.

[2020-06-29 15:28] hereisnaman commented on #390
I don't think if we need it.

[2020-06-29 15:28] #390 closed

[2020-07-02 09:59] DefCon-018 opened #392 "Absence of pagination"
we can only see 20 saved codes. We can save more then 20 codes but there is no option to see them.
![2020-07-02](https://user-images.githubusercontent.com/62884793/86344753-48b2db80-bc78-11ea-978f-e9da240d3586.png)

[2020-07-09 12:33] polonium31 opened #393 "Not able to use in ide in split screen mode"
I tried to open the website in two different browsers (chrome and opera). But the site got blank when I use split-screen mode.
OS-windows 10

![problem](https://user-images.githubusercontent.com/65034584/87040254-13753300-c20e-11ea-8909-e960502b173b.jpg)

[2020-07-10 10:18] sanjeetboora opened #394 "Blank Screen in Small screen view"
Ide is showing blank screen on devices of width < 1025px

[Link to issue's video](https://drive.google.com/file/d/1z3WmSUzt4LqJHlZ-g--G-3t3k1JT_nWH/view?usp=sharing)

Issue is because of the status bar's height i.e. 100% for small screens.

[Link to issue's fix video](https://drive.google.com/file/d/1hBid0acpI3qNrD2BuhNUxt__a1fb59f-/view?usp=sharing)

[2020-07-13 14:44] Palak-137 opened #396 "the navbar font in not visible at home page and the scrolling is not smooth."
The color of the font should be made visible by creating contrast between navbar color and font color at landing page. The scrolling of the page is also not smooth which can be fix using smooth scroll library.

[2020-07-17 14:39] na-win-27 opened #397 "sharing Link not visible"
LINK NOT VISIBLE WHILE WE GET THAT SHARE MODAL

[2020-07-21 12:10] rohit267 commented on #388
hey is the issue fixed?, I use this ide and I have reported this issue through mail, what is the technology asking just to see I can fix it.

[2020-07-26 17:13] BharatNischal opened #399 "No specialized message for over-limit of input size"
**Description**
Currently if we go to Coding Blocks Ide and provide a very big input in the input box then the generalized message is shown there and not a special message related to the input size exceeded is shown. Given below is the screenshot for the same

**How to reproduce**

1. Go to [cb ide](https://ide.codingblocks.com/) and write any simple logic which accepts some string and run on some

[2020-07-26 17:15] BharatNischal commented on #399
@championswimmer  Please review this issue

[2020-08-01 05:55] sutharp777 opened #400 "Go Compilation Failed"
## error message :
build cache is required, but could not be located: GOCACHE is not defined and neither $XDG_CACHE_HOME nor $HOME are defined
## stesp
 1. simply select go and run default snippet.

[2020-08-01 06:24] sutharp777 opened #401 "default code file name is unexpected"
## Issue Description  :beetle:
 - unexpected file name observed.
 - **this happand when we switch the language from one to another.**
 - it vanishes when we reload the tab and it come to default code.cpp

**observed  file name is  : codeundefined**
![](https://i.ibb.co/80KTRb9/iss-1.gif)

[2020-08-01 07:02] sutharp777 opened #402 "Copy"

[2020-08-01 07:02] #402 closed

[2020-08-04 07:02] sutharp777 commented on #400
@hereisnaman  bhaiya please review this issue.

[2020-08-04 07:03] sutharp777 commented on #401
### @hereisnaman bhaiya please review this issue.

[2020-08-04 13:37] sutharp777 opened #403 "Found Bug In Testing : while running program switching of language should be off."
## Description :beetle:
 - while running code it allowing us to switch the language.
---
## Expected Behavior  :100:
- if code is already in running state than the ide should not allow us to switch the language or any other control from nav bar.
- only those nav bar controls should disable while running the code which are unnecessary while running code.
   for example.
   * input should not disabl

[2020-08-04 13:38] sutharp777 commented on #403
@hereisnaman  Naman Bhaiya please review this issue.

[2020-08-04 13:53] sutharp777 opened #404 "Run button should disable for CSV."
## Run button should not run if selected language is CSV.
 - it doesn't make any sense to run a CVS file.
<img src="https://i.ibb.co/XXY8Vhn/csv-run.gif" height=300>

[2020-08-04 13:55] sutharp777 commented on #404
# #404
@hereisnaman  bhaiya review this issue.

[2020-08-05 14:07] sutharp777 commented on #400
@hereisnaman

[2020-08-06 05:19] sutharp777 opened #405 "Feature moveable right dock."
### Feature Description:
 - moveable right dock.

# ![dock](https://i.ibb.co/gJNSx76/dock.gif)
### current feature :
- only bottom dock is moveable

[2020-08-06 12:51] sutharp777 commented on #400
## @hereisnaman  @jatinkatyal13 bhaiya ji
### GOCACHE's need fixing
## :pray:  please review this issue.
![image](https://i.ibb.co/F4hFFvd/go.gif)

[2020-08-06 18:44] sutharp777 opened #406 "Bug-Report : Issue With last page of Saved Code List."
# Bug Description : :beetle:
- getting unexpected last page of saved code list, when we click next-next rapidly.
- working fine with slow clicking but something wrong with it, when we click quickly.

# Steps to Detect Bug
1. go to ide's saved-code list.
2. just click next-next till last page.

# Screenshot
![](https://i.ibb.co/YjYF0cg/saved.gif)

[2020-08-07 07:07] sutharp777 commented on #400
## reference:  https://github.com/golang/go/issues/32238

[2020-08-07 19:41] sutharp777 commented on #384
https://github.com/coding-blocks/ide/pull/407

[2020-08-08 12:52] sutharp777 commented on #406
### @hereisnaman @championswimmer @jatinkatyal13  bhaiya please review this issue :pray:

[2020-08-08 13:41] sutharp777 commented on #384
bhaiya, please review this, so that I can claim the bounty points.

[2020-08-09 05:32] sutharp777 opened #408 "Feature request: Pagination"
## Feature Description:
 - random access to any page in a particular range like on the following pagination-bar it is 10.
  ![](https://i.ibb.co/2tFvBRS/nav.png)
 - on click on next the window should shift toward right if posible.
 - on click on previus the window should shift to left if posible.
<div align="center">
   <img src="https://i.ibb.co/QDnC1HY/navigator.png">
</div>

## Current feature:

[2020-08-09 05:40] sutharp777 commented on #408
@hereisnaman

[2020-08-12 05:22] sutharp777 commented on #384
@hereisnaman

[2020-08-15 12:37] sutharp777 commented on #384
**this is my PR** https://github.com/coding-blocks/ide/pull/407

[2020-08-16 13:17] sutharp777 opened #410 "Feature Request: docker solution."
### docker is easy to deploy on any os.
 - need to make a **docker image** and upload that to **DockerHub.**
- add **steps and all command of docker.** to the readme file.
#### needed.

[2020-08-16 13:19] sutharp777 commented on #410
@championswimmer please review this, so I can work on this, not for boss.

[2020-08-25 16:52] sutharp777 commented on #400
## unable to run go in ide
@championswimmer,  which **go version** is there in our ide?
[img](https://i.ibb.co/q1Tg94Q/golic.png)
i code in golang, but facing this issue, want to fix this.

[2020-09-06 03:36] sagar-barapatre commented on #391
I made a PR resolving this issue
#413

[2020-09-14 08:46] irohitb opened #414 "license: What is the license of this repo?"
I couldn't find anything about the license of this repo? Is Mit licensed or Apache 2.0?

[2020-09-14 08:47] #414 closed

[2020-09-14 12:03] abhishek97 commented on #414
@irohitb It's GPLv3. I've added it to the repo too.

[2020-09-14 12:05] abhishek97 commented on #404
Run type: CSV is used internally at Coding Blocks. Maybe we can hide it for public frontend.

[2020-09-14 12:05] #404 closed

[2020-09-14 13:27] sutharp777 commented on #403
@abhishek97

[2020-09-17 13:21] mrpkdeveloper opened #416 "Error in installing dependency"
![error](https://user-images.githubusercontent.com/46247882/93475823-b5a04e00-f916-11ea-90e3-3867ebd9aa5b.jpg)

[2020-10-04 04:48] sutharp777 commented on #416
@mrpkdeveloper  just follow the steps even if you get errors
The same happens to me also, even after these errors try to run the project using.
```npm run dev```

[2020-10-04 07:43] mrpkdeveloper commented on #416
Again its showing error of firebase not installed . (although i installed it many times). I think u should update the readme part .

[2020-10-04 08:16] sutharp777 commented on #416
[code]
@mrpkdeveloper
yeh hoga package.json file me
replace that with this
[code]
i hope it works.

[2020-10-04 08:42] sutharp777 commented on #416
@mrpkdeveloper
after
```npm install```
run
```npm run dev```
even if you geting errors.

[2020-11-09 15:53] #281 closed

[2020-11-09 15:54] #280 closed

[2021-01-08 08:21] rohan-goel opened #425 "Text not visible completely"
Ide is unable to show first line of boilerplate code completely i.e. upper part of the text and curly brackets is not visible.

![ide](https://user-images.githubusercontent.com/54268088/103991174-56fa2b00-51b8-11eb-9ebc-f3a03358f9b1.PNG)

[2021-01-08 08:30] rohan-goel opened #426 "Settings option doesn't get closed"
When you change settings in ide, Views -> Settings and now change anything, the setting panel will not hide itself until you toggle settings option again. There could be an option to toggle this panel by either by clicking anywhere on editor or Views tab

[2021-06-29 19:47] #410 closed

[2021-08-09 13:22] sinanthottan opened #433 "Error: npm run dev"
Hi,
I had trouble running `npm install` and somehow fixed it. Now I have trouble running `npm run dev`

Error message as follows